<% income = @project_tracker.income %>
<% current_spend = @project_tracker.spend %>
<% running_spend = current_spend - income %>
<% budget_low_end = @project_tracker.budget_low_end %>
<% budget_high_end = @project_tracker.budget_high_end %>
<% accounting_method = session[:accounting_method] || "cash" %>
<% estimated_cost = @project_tracker.estimated_cost(accounting_method) %>
<% last_seven_days_snapshot = @project_tracker.make_adhoc_snapshot(7.days) %>

<% inbudget_overage = (
  budget_low_end.present? ?
  [current_spend - budget_low_end, 0].max :
  0
)%>
<% overbudget_overage = (
  budget_high_end.present? ?
  [current_spend - budget_high_end, 0].max :
  0
)%>

<% if @project_tracker.project_capsule.present? && @project_tracker.work_completed_at.present? %>
  <% project_capsule = @project_tracker.project_capsule %>

  <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
    <div id="titlebar_left">
      <h2 id="page_title">💊 Project Capsule</h2>
    </div>
    <div id="titlebar_right">
      <%= link_to "Edit Project Capsule ↗", edit_admin_project_capsule_path(@project_tracker.project_capsule.id) %>
    </div>
  </div>

  <p class="pill nag <%= project_capsule.complete? ? 'complete' : 'pending' %>" style="margin-bottom: 20px;margin-right: 6px;">
    <%= project_capsule.complete? ? "Complete" : "Pending" %>
  </p>

  <% unless @project_tracker.considered_successful?.nil? %>
    <p class="pill nag <%= @project_tracker.considered_successful? ? 'exceptional' : 'failing' %>" style="margin-bottom: 20px;margin-right: 6px;">
      <%= @project_tracker.considered_successful? ? "Successful" : "Unsuccessful" %>
    </p>
  <% end %>

  <% unless project_capsule.complete? %>
    <div class="dashboard-modules table index_table index">
      <div class="dashboard-module">
        <div class="module-body factoid-parent">
          <p style="margin-bottom: 6px;">🚧 This project is complete, but the project team have not yet completed their Project Capsule.</p>
        <a href="https://www.notion.so/garden3d/How-to-wrap-a-project-Support-Team-a249d0340d21447897c7a261e2b40ab3" target="_blank">
          Learn how to Wrap a Project ↗
        </a>
        </div>
      </div>
    </div>
  <% end %>

  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-header">
        <p>Wrapup Status</p>
        <% if project_capsule.client_feedback_survey_url.present? %>
          <%= link_to "Client Survey URL ↗", project_capsule.client_feedback_survey_url %>
        <% end %>
      </div>
      <div class="module-body">
        <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
          <tbody>
            <tr class="odd">
              <td class="col"><strong>Client Feedback</strong></td>
              <td class="col text-right">
                <%= project_capsule.client_feedback_survey_status.try(:humanize) %>
              </td>
            </tr>
            <tr class="even">
              <td class="col"><strong>Marketing</strong></td>
              <td class="col text-right">
                <%= project_capsule.internal_marketing_status.try(:humanize) %>
              </td>
            </tr>
            <tr class="odd">
              <td class="col"><strong>Internal Sharing</strong></td>
              <td class="col text-right">
                <%= project_capsule.capsule_status.try(:humanize) %>
              </td>
            </tr>
            <tr class="even">
              <td class="col"><strong>Project Satisfaction</strong></td>
              <td class="col text-right">
                <% if project_capsule.project_satisfaction_survey.present? %>
                  <% if project_capsule.project_satisfaction_survey.closed? %>
                    <% survey = project_capsule.project_satisfaction_survey %>
                    <% results = survey.results %>
                    <% if results.present? && results[:response_count] > 0 %>
                      <%= link_to "Survey complete (#{results[:overall].round(2)}/5) →", admin_project_satisfaction_survey_path(survey) %>
                    <% else %>
                      <%= link_to "Survey complete (no responses) →", admin_project_satisfaction_survey_path(survey) %>
                    <% end %>
                  <% else %>
                    <%= link_to "Survey pending →", admin_project_satisfaction_survey_path(project_capsule.project_satisfaction_survey) %>
                  <% end %>
                <% else %>
                  <%= project_capsule.project_satisfaction_survey_status.try(:humanize) || link_to("Create Survey →", new_admin_project_satisfaction_survey_path(project_capsule_id: project_capsule.id)) %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
          <tbody>
            <% if false %>
              <tr class="odd">
                <td class="col"><strong>Raw Resourcing Cost</strong></td>
                <td class="col text-right">
                  <%= number_to_currency(@project_tracker.raw_resourcing_cost) %>
                </td>
              </tr>
            <% end %>
            <tr class="even">
              <td class="col"><%= link_to "Estimated COSR →", admin_project_tracker_project_cosr_explorer_path(@project_tracker) %></td>
              <td class="col text-right">
                <%= number_to_currency(estimated_cost) %>
              </td>
            </tr>
            <tr class="odd">
              <td class="col"><strong>Total Income</strong></td>
              <td class="col text-right">
                <%= number_to_currency(income) %>
              </td>
            </tr>
            <tr class="even">
              <td class="col"><strong>Total Profit</strong></td>
              <td class="col text-right">
                <%= number_to_currency(@project_tracker.profit) %>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class="dashboard-module">
      <div class="module-header">
        <p>Success Status</p>
      </div>
      <div class="module-body">
        <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
          <tbody>
            <tr class="even">
              <td class="col"><strong>Client Satisfied?</strong></td>
              <td class="col text-right">
              <span class="pill <%= @project_tracker.client_satisfied? ? 'yes' : 'error' %>">
                <%= project_capsule.try(:client_satisfaction_status).try(:humanize) %>
              </span>
              </td>
            </tr>
            <tr class="odd">
              <td class="col">
                <strong>Free Hours Billed</strong> <code>(target <= <%= @project_tracker.target_free_hours_percent %>%)</code>
              </td>
              <td class="col text-right">
                <span class="pill <%= @project_tracker.target_free_hours_ratio_satisfied? ? 'yes' : 'error' %>">
                  <%= (@project_tracker.free_hours_ratio * 100).round(2) %>%
                </span>
              </td>
            </tr>
            <tr class="even">
              <td class="col">
                <strong>Profit Margin</strong> <code>(target >= <%= @project_tracker.target_profit_margin %>%)</code>
              </td>
              <td class="col text-right">
                <span class="pill <%= @project_tracker.target_profit_margin_satisfied? ? 'yes' : 'error' %>">
                  <%= @project_tracker.profit_margin.round(2) %>%
                </span>
              </td>
            </tr>
            <tr class="odd">
              <td class="col"><strong>Considered Successful?</strong></td>
              <td class="col text-right">
                <% if @project_tracker.considered_successful? %>
                  <span class="pill yes">Successful</span>
                <% else %>
                  <span class="pill error">Unsuccessful</span>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <p style="padding-top: 20px;"><strong>Client Satisfaction Detail</strong></p>
        <hr />
        <div class="markdown-body">
          <%= sanitize RDiscount.new(project_capsule.client_satisfaction_detail || "").to_html %>
        </div>

      </div>
    </div>
  </div>

  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-header">
        <p>Postpartum Meeting Notes</p>
      </div>
      <div class="module-body markdown-body">
        <%= sanitize RDiscount.new(project_capsule.postpartum_notes || "").to_html %>
      </div>
    </div>
  </div>

  <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
    <div id="titlebar_left">
      <h2 id="page_title">Project Details</h2>
    </div>
  </div>
<% end %>

<% if @project_tracker.has_recorded_hours_after_today? %>
  <a href="https://www.notion.so/garden3d/How-to-Record-your-Working-Time-ff971848f66d40cf818b930f05cfc533?pvs=4#561f0ff911ff4948b676d0f336cafd19" target="_blank" style="margin-bottom:0px;margin-right: 6px">
    <p class="pill nag error">
      Future hours detected ↗
    </p>
  </a>
<% end %>

<p class="pill nag <%= @project_tracker.status %>" style="margin-bottom: 0px;margin-right: 6px;">
  <%= @project_tracker.status.to_s.try(:humanize) %>
</p>
<% @project_tracker.project_tracker_links.each do |link| %>
  <a href="<%= link.url %>" target="_blank" style="margin-right: 6px">
    <p class="nag" style="margin-bottom: 0px;margin-right: 6px;">
      <%= link.name %> ↗
    </p>
  </a>
<% end %>

<div class="skill_tree_hint markdown-body" style="margin-top: 40px; margin-bottom:40px;">
  <%= sanitize RDiscount.new(@project_tracker.notes).to_html %>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Project Contributors</p>
    </div>
    <div class="module-body">
      <%= render 'contributor_table', contributors: @project_tracker.all_contributors_with_roles %>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Budget Burnup</p>
      <% if @project_tracker.snapshot["generated_at"].present? %>
        <p>Last generated <%= time_ago_in_words(DateTime.iso8601(@project_tracker.snapshot["generated_at"])) %> ago</p>
      <% else %>
        <p>Full chart not generated yet.</p>
      <% end %>
      <%= link_to "COSR Explorer ↗", admin_project_tracker_project_cosr_explorer_path(@project_tracker) %>
    </div>
    <div class="module-body">
      <canvas id="burnup"></canvas>
    </div>
  </div>
</div>

<script>
  luxon.Settings.defaultLocale = "en";
  new Chart(document.getElementById('burnup'), <%= burnup_data.to_json.html_safe %>);
</script>

<script>
async function copyToClipboard() {
  if (!navigator.clipboard) return alert('Could not copy.');
  try {
      await navigator.clipboard.writeText(`⏳ Hours Progress
Last 7 days: <%= last_seven_days_snapshot[:hours_total] %> hours (<%= number_to_currency(last_seven_days_snapshot[:spend_total]) %>)

💹 Budgetary Progress
Invoiced: <%= number_to_currency(income) %>
Spend this Month: <%= number_to_currency(running_spend) %>
Total Spend to Date: <%= number_to_currency(current_spend) %>
<% if budget_low_end.present? %>
  <% if budget_low_end != budget_high_end %>
Budget Low End: <%= number_to_currency(budget_low_end) %>
Budget High End: <%= number_to_currency(budget_high_end) %>
  <% else %>
Budget: <%= number_to_currency(budget_high_end) %>
  <% end %>
<% end %>`);
      alert('Copied!');
  } catch(e) {
      alert('Could not copy.');
  }
};
</script>
<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom:20px;">
  <tbody>
    <tr class="odd">
      <td class="col">Invoiced Spend</td>
      <td class="col">
        <%= number_to_currency(income) %>
      </td>
    </tr>
    <tr class="even">
      <td class="col">Running Spend (Since last invoice)</td>
      <td class="col">
        <%= number_to_currency(running_spend) %>
      </td>
    </tr>
    <tr class="odd">
      <td class="col">Total Spend to Date (Invoiced & Running Spends)</td>
      <td class="col">
        <%= number_to_currency(current_spend) %>
      </td>
    </tr>

    <% if budget_low_end.present? %>
      <tr class="even">
        <td class="col">Budget Low End</td>
        <td class="col">
          <%= number_to_currency(budget_low_end) %>
        </td>
      </tr>
      <tr class="odd">
        <td class="col">Budget High End</td>
        <td class="col">
          <%= number_to_currency(budget_high_end) %>
        </td>
      </tr>
      <% if inbudget_overage > 0 %>
        <tr class="even">
          <td class="col">At Budget Spend</td>
          <td class="col">
            <span class=""><%= number_to_currency(inbudget_overage) %></span>
          </td>
        </tr>
      <% end %>
      <% if overbudget_overage > 0 %>
        <tr class="odd">
          <td class="col">Over Budget Spend</td>
          <td class="col">
            <%= number_to_currency(overbudget_overage) %>
          </td>
        </tr>
      <% end %>
    <% end %>

    <tr class="odd">
      <td class="col"><strong>✨ Weekly Ship Gmail Autoformatter ✨</strong></td>
      <td class="col">
        <a style="margin-bottom:20px;cursor:pointer;" onclick="copyToClipboard()">Copy to Clipboard ↗</a>
      </td>
    </tr>
  </tbody>
</table>


<% if @project_tracker.last_month_value > 0 %>
  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-body factoid-parent">
        <div class="factoid">
          <h2><%= number_to_currency(@project_tracker.last_month_value) %></h2>
          <p>Last month's spend</p>
        </div>
      </div>
    </div>

    <% if budget_low_end %>
      <div class="dashboard-module">
        <div class="module-body factoid-parent">
          <div class="factoid">
              <% if inbudget_overage == 0 %>
                <h2 style="line-height: 32px; margin-bottom: 8px;">
                  <%= ((budget_low_end - current_spend) / @project_tracker.last_week_value).round(1) %> weeks
                  <span style="font-size:16px;">or</span>
                  <%= ((budget_low_end - current_spend) / @project_tracker.last_month_value).round(1) %> months
                </h2>
                <% if budget_low_end == budget_high_end %>
                  <p>Remaining in <strong class="color-red">Budget High End</strong> <a target="_blank" href="https://www.notion.so/garden3d/WIP-Stacks-Manual-71dbbc83d5a446ca998f8cd7b68f5c3b?pvs=4#24345066edd04483ae00f1ae4c5bd0ba">(based on recent spending ↗)</a></p>
                <% else %>
                  <p>Remaining in <strong class="color-orange">Budget Low End</strong> <a target="_blank" href="https://www.notion.so/garden3d/WIP-Stacks-Manual-71dbbc83d5a446ca998f8cd7b68f5c3b?pvs=4#24345066edd04483ae00f1ae4c5bd0ba">(based on recent spending ↗)</a></p>
                <% end %>
              <% elsif overbudget_overage > 0 %>
                <h2 class="color-red">
                  -<%= number_to_currency(overbudget_overage) %>
                </h2>
                <p>Overbudget</p>
              <% else %>
                <h2 style="line-height: 32px; margin-bottom: 8px;">
                  <%= ((budget_high_end - current_spend) / @project_tracker.last_week_value).round(1) %> weeks
                  <span style="font-size:16px;">or</span>
                  <%= ((budget_high_end - current_spend) / @project_tracker.last_month_value).round(1) %> months
                </h2>
                <p>Remaining in <strong class="color-red">Budget High End</strong> <a target="_blank" href="https://www.notion.so/garden3d/WIP-Stacks-Manual-71dbbc83d5a446ca998f8cd7b68f5c3b?pvs=4#24345066edd04483ae00f1ae4c5bd0ba">(based on recent spending ↗)</a></p>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <p style="margin-bottom: 6px;">🤔 <strong>Remember!</strong> Don't artificially adjust your hours to meet a budget, or we won't get the data we need to improve our proposals.</p>
      <a href="https://www.notion.so/garden3d/How-to-Record-your-Hours-ff971848f66d40cf818b930f05cfc533" target="_blank">
        How to Record your Hours ↗
      </a>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-header">
      <div class="icon-and-text">
        <%= image_tag("runn-logo-icon.png") %>
        <p>Runn.io Sync Status</p>
      </div>

      <% if @project_tracker.runn_project.present? %>
        <a href="https://app.runn.io/projects/<%= @project_tracker.runn_project.runn_id %>" target="_blank">
          Open in Runn.io ↗
        </a>
      <% end %>
    </div>
    <div class="module-body text-center">
      <% if @project_tracker.runn_project.present? %>
        <% if @project_tracker.project_tracker_forecast_to_runn_sync_tasks.empty? %>
          <p>This Project Tracker is connected to Runn.io, but has not yet performed a sync (they run twice daily!).</p>
        <% else %>
          <% latest_runn_sync = @project_tracker.latest_forecast_to_runn_sync_task %>
          <% if latest_runn_sync.success? %>
            <p>This Project Tracker's Forecast hours were successfully synced to Runn.io <%= time_ago_in_words latest_runn_sync.settled_at %> ago.</p>
          <% else %>
            <p style="margin-bottom: 6px;">This Project Tracker <span class="color-red"><strong>failed</strong></span> to synced to Runn.io <%= time_ago_in_words latest_runn_sync.settled_at %> ago.</p>
            <p style="margin-bottom: 6px;">
              <code><%= latest_runn_sync.notification.params[:exception][:message] %></code>
            </p>
            <%= link_to "Inspect Sync Error ↗", admin_notification_path(latest_runn_sync.notification) %>
          <% end %>
        <% end %>
      <% else %>
        <p style="margin-bottom: 6px;">This project tracker is not connected to Runn.io project.</p>
        <%= link_to "Connect a Runn.io Project ↗", edit_admin_project_tracker_path(@project_tracker) %>
      <% end %>
    </div>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom:20px;">
  <thead>
    <tr>
      <th class="col">
        <div class="icon-and-text">
          <%= image_tag("forecast-logo-icon.webp") %>
          Hours
        </div>
      </th>
      <th class="col">Rate</th>
      <th class="col">Hours (Last Week)</th>
      <th class="col">Hours (Last Month)</th>
      <th class="col">Hours (Total)</th>
      <th class="col text-right">Spend (Total)</th>
    </tr>
  </thead>
  <tbody>
    <% @project_tracker.forecast_projects.each_with_index do |fp, index| %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <a href="<%= fp.link %>" target="_blank">
            <%= fp.display_name %>
          </a>
        </td>
        <td class="col">
          <%= number_to_currency(fp.hourly_rate) %>
        </td>
        <td class="col">
          <%= fp.total_hours_during_range(Date.today - 1.week, Date.today) %>
        </td>
        <td class="col">
          <%= fp.total_hours_during_range(Date.today - 1.month, Date.today) %>
        </td>
        <td class="col">
          <%= fp.total_hours %>
        </td>
        <td class="col text-right">
          <%= number_to_currency(fp.total_hours * fp.hourly_rate) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="table-layout:fixed">
  <thead>
    <tr>
      <th class="col">
        <div class="icon-and-text">
          <%= image_tag("qbo-logo-icon.png") %>
          Generated Invoices
        </div>
      </th>
      <th class="col">Month Generated</th>
      <th class="col">Status</th>
      <th class="col text-right">Total (For this Project Tracker)</th>
    </tr>
  </thead>
  <tbody>
    <% @project_tracker.invoice_trackers.each_with_index do |it, index| %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <%= link_to it.display_name, admin_invoice_pass_invoice_tracker_path(it.invoice_pass, it) %>
        </td>
        <td class="col">
          <%= it.invoice_pass.invoice_month %>
        </td>
        <td class="col">
          <span class="pill <%= it.status %>">
            <%= it.status.to_s.try(:humanize) %>
          </span>
        </td>
        <td class="col text-right">
          <%= number_to_currency(it.qbo_line_items_relating_to_forecast_projects(@project_tracker.forecast_projects).map{|qbo_li| qbo_li.dig("amount").to_f}.reduce(&:+)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @project_tracker.adhoc_invoice_trackers.any? %>
  <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="table-layout:fixed">
    <thead>
      <tr>
        <th class="col">
          <div class="icon-and-text">
            <%= image_tag("qbo-logo-icon.png") %>
            Adhoc Invoices
          </div>
        </th>
        <th class="col">Made Adhoc At</th>
        <th class="col">Status</th>
        <th class="col text-right">Total (For this Project Tracker)</th>
      </tr>
    </thead>
    <tbody>
      <% @project_tracker.adhoc_invoice_trackers.each_with_index do |it, index| %>
        <tr class="<%= index.even? ? "even" : "odd" %>">
          <td class="col">
            <%= link_to("#{it.try(:display_name)} ↗", it.qbo_invoice.try(:qbo_invoice_link), target: "_blank") %>
          </td>
          <td class="col">
            <%= Date.parse(it.qbo_invoice.data.dig("txn_date")).strftime("%B %d, %Y") %>
          </td>
          <td class="col">
            <span class="pill <%= it.status %>">
              <%= it.status.to_s.try(:humanize) %>
            </span>
          </td>
          <td class="col text-right">
            <%= number_to_currency(it.qbo_line_items_relating_to_forecast_projects(@project_tracker.forecast_projects).map{|qbo_li| qbo_li.dig("amount").to_f}.reduce(&:+)) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
