<script>
function update(a, b) {
  var searchParams = new URLSearchParams(window.location.search);
  if (b !== '')
    searchParams.set(a, b);
  else
    searchParams.delete(a);
  window.location.search = searchParams.toString();
}
</script>

<% current_period = params["period"] || latest_rollup_period %>
<% current_period = latest_rollup_period unless all_rollup_periods.include?(current_period) %>
<div style="margin-bottom: 20px">
  <% all_rollup_periods.each do |month| %>
    <a onclick='update("period", "<%= month %>");' style="margin-right: 6px">
      <p class="nag pill <%= month == current_period ? "complete" : "" %>" style="margin-bottom: 0px;margin-right: 6px;">
        <%= month %>
      </p>
    </a>
  <% end %>
</div>

<div class="skill_tree_hint">
  <p>As a group, we care deeply about making great things for a diverse set of users, and to do that well, we need our people who think through a wide lens of different experiences.</p>
  <p>garden3d is committed to holding space for folks who are underrepresented in our industry. Our DEI explorer (updated monthly!) helps us set goals, and hold us accountable in meeting them.</p>
</div>

<a href="https://www.census.gov/quickfacts/fact/table/US/PST045219" target="_blank">
  <p class="nag" style="margin-bottom: 20px;margin-right:10px;">
    🤔 US Census Quick Facts ↗
  </p>
</a>
<a href="https://www.eeoc.gov/special-report/diversity-high-tech" target="_blank">
  <p class="nag" style="margin-bottom: 20px;">
    🤔 US EEOC Special Report on Diversity in Tech ↗
  </p>
</a>

<!-- Racial Backgrounds -->
<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">Racial Backgrounds</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <%= link_to "See All ↗", admin_racial_backgrounds_path %>
    </div>
  </div>
</div>

<p class="nag" style="margin-bottom: 20px;margin-right:10px;">
💡<%= multiple_racial_backgrounds_count %> people recorded more than one Racial Background.
</p>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h1><%= ((considered_bipoc / total.to_f) * 100).round(2) %>%</h1>
        <p><%= considered_bipoc %> out of <%= total %> people on our team identify as Black, Indigenous or as a Person of Color.</p>
      </div>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-body">
      <canvas id="racial-backgrounds"></canvas>
    </div>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 20px">
  <thead>
    <tr>
      <th class="col">Racial Background</th>
      <th class="col">People</th>
      <th class="col">Percentage in Group</th>
    </tr>
  </thead>
  <tbody>
    <% racial_background_raw_data.each_with_index do |d, idx| %>
      <tr class="<%= idx.even? ? "even" : "odd" %>">
        <td class="col"><%= d["name"] %></td>
        <td class="col"><%= d["skill_bands"].count %></td>
        <td class="col"><%= ((d["skill_bands"].count / total.to_f) * 100).round(2) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Skill Levels by Racial Background</p>
    </div>
    <div class="module-body">
      <canvas id="skill-level-by-racial-background"></canvas>
    </div>
  </div>
</div>

<!-- Cultural Backgrounds -->
<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">Cultural Backgrounds</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <%= link_to "See All ↗", admin_cultural_backgrounds_path %>
    </div>
  </div>
</div>
<p class="nag" style="margin-bottom: 20px;margin-right:10px;">
💡<%= multiple_cultural_backgrounds_count %> people recorded more than one Cultural Background.
</p>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-body">
      <canvas id="cultural-backgrounds"></canvas>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h1><%= ((considered_non_us / total.to_f) * 100).round(2) %>%</h1>
        <p><%= considered_non_us %> out of <%= total %> people on our team report at least one cultural background that's different to US American.</p>
      </div>
    </div>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 20px">
  <thead>
    <tr>
      <th class="col">Cultural Background</th>
      <th class="col">People</th>
      <th class="col">Percentage in Group</th>
    </tr>
  </thead>
  <tbody>
    <% cultural_background_raw_data.each_with_index do |d, idx| %>
      <tr class="<%= idx.even? ? "even" : "odd" %>">
        <td class="col"><%= d["name"] %></td>
        <td class="col"><%= d["skill_bands"].count %></td>
        <td class="col"><%= ((d["skill_bands"].count / total.to_f) * 100).round(2) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Skill Levels by Cultural Background</p>
    </div>
    <div class="module-body">
      <canvas id="skill-level-by-cultural-background"></canvas>
    </div>
  </div>
</div>

<!-- Gender Identities -->
<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">Gender Identities</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <%= link_to "See All ↗", admin_gender_identities_path %>
    </div>
  </div>
</div>
<p class="nag" style="margin-bottom: 20px;margin-right:10px;">
💡<%= multiple_gender_identities_count %> people recorded more than one Gender Identity.
</p>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid" style="margin-bottom: 40px">
        <h1><%= ((considered_female / total.to_f) * 100).round(2) %>%</h1>
        <p><%= considered_female %> out of <%= total %> people on our team identify as Female.</p>
      </div>
      <div class="factoid">
        <h1><%= ((considered_gender_nonconforming / total.to_f) * 100).round(2) %>%</h1>
        <p><%= considered_gender_nonconforming %> out of <%= total %> people on our team identify as at least one of <%= gender_nonconforming_names.join(", ") %>.</p>
      </div>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-body">
      <canvas id="gender-identities"></canvas>
    </div>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 20px">
  <thead>
    <tr>
      <th class="col">Gender Identity</th>
      <th class="col">People</th>
      <th class="col">Percentage in Group</th>
    </tr>
  </thead>
  <tbody>
    <% gender_identity_raw_data.each_with_index do |d, idx| %>
      <tr class="<%= idx.even? ? "even" : "odd" %>">
        <td class="col"><%= d["name"] %></td>
        <td class="col"><%= d["skill_bands"].count %></td>
        <td class="col"><%= ((d["skill_bands"].count / total.to_f) * 100).round(2) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Skill Levels by Gender Identity</p>
    </div>
    <div class="module-body">
      <canvas id="skill-level-by-gender-identity"></canvas>
    </div>
  </div>
</div>

<!-- Communities -->
<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">Communities</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <%= link_to "See All ↗", admin_communities_path %>
    </div>
  </div>
</div>
<p class="nag" style="margin-bottom: 20px;margin-right:10px;">
💡<%= multiple_communities_count %> people recorded more than one Community.
</p>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-body">
      <canvas id="communities"></canvas>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h1><%= ((considered_neurodiverse / total.to_f) * 100).round(2) %>%</h1>
        <p><%= considered_neurodiverse %> out of <%= total %> people on our team identify as Neurodiverse.</p>
      </div>
    </div>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 20px">
  <thead>
    <tr>
      <th class="col">Community</th>
      <th class="col">People</th>
      <th class="col">Percentage in Group</th>
    </tr>
  </thead>
  <tbody>
    <% community_raw_data.each_with_index do |d, idx| %>
      <tr class="<%= idx.even? ? "even" : "odd" %>">
        <td class="col"><%= d["name"] %></td>
        <td class="col"><%= d["skill_bands"].count %></td>
        <td class="col"><%= ((d["skill_bands"].count / total.to_f) * 100).round(2) %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Skill Levels by Community</p>
    </div>
    <div class="module-body">
      <canvas id="skill-level-by-community"></canvas>
    </div>
  </div>
</div>

<script>
  new Chart(document.getElementById('racial-backgrounds'), {
    type: 'polarArea',
    data: <%= racial_background_data.to_json.html_safe %>,
  });
  new Chart(document.getElementById('skill-level-by-racial-background'), {
    type: 'bar',
    data: <%= skill_level_by_racial_background.to_json.html_safe %>,
  });

  new Chart(document.getElementById('cultural-backgrounds'), {
    type: 'polarArea',
    data: <%= cultural_background_data.to_json.html_safe %>,
  });
  new Chart(document.getElementById('skill-level-by-cultural-background'), {
    type: 'bar',
    data: <%= skill_level_by_cultural_background.to_json.html_safe %>,
  });

  new Chart(document.getElementById('gender-identities'), {
    type: 'polarArea',
    data: <%= gender_identity_data.to_json.html_safe %>,
  });
  new Chart(document.getElementById('skill-level-by-gender-identity'), {
    type: 'bar',
    data: <%= skill_level_by_gender_identity.to_json.html_safe %>,
    });

  new Chart(document.getElementById('communities'), {
    type: 'bar',
    data: <%= community_data.to_json.html_safe %>,
    options: {
      aspectRatio: 1,
      plugins: {
        legend: {
          display: false
        }
      }
    }
  });
  new Chart(document.getElementById('skill-level-by-community'), {
    type: 'bar',
    data: <%= skill_level_by_community.to_json.html_safe %>,
  });
</script>
