<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">📈 YTD Collective Performance</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <%= link_to "See all garden3d OKRs ↗", admin_studio_path(g3d) %>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <p style="margin-bottom: 6px;">🚧 <strong>WIP!</strong> This section will eventually give a full indication of how we're tracking as per the Bottom-Up Leadership Experiment; but for now, some of these metrics are still being incorporated into Stacks.</p>
      <a href="https://www.notion.so/garden3d/Introducing-Bottom-Up-Leadership-at-garden3d-93cfbd78330245d1a14cb1ad312b0290" target="_blank">
        Understand the Bottom-up Leadership Experiment here ↗
      </a>
    </div>
  </div>

  <% data_integrity_problem_count = Stacks::DataIntegrityManager.new.problem_count %>
  <% if data_integrity_problem_count > 0 %>
    <div class="dashboard-module">
      <div class="module-body factoid-parent">
        <p style="margin-bottom: 6px;">❗ <strong>Warning!</strong> There are <%= data_integrity_problem_count %>x known data integrity problems. These problems can cause big fluctuations on OKR reporting. Please work to rectify those issues first, then <a href="https://stacks.garden3d.net/admin/system_tasks?q%5Bname_contains%5D=stacks%3Adaily_tasks&commit=Filter&scope=success&order=id_desc" target="_blank">wait for the next <code>stacks:daily_tasks</code> job to settle</a> to ensure you have a correct view of the data below.</p>
        <a href="https://stacks.garden3d.net/admin/data_integrity_explorer" target="_blank">
          See all Data Integrity issues here ↗
        </a>
      </div>
    </div>
  <% end %>
</div>

<% collective_okrs.each_slice(2).to_a.each do |set| %>
  <div class="dashboard-modules table index_table index">
    <% set.each do |cokr| %>

      <div class="dashboard-module">
        <div class="module-header">
          <p><%= cokr[:datapoint].to_s.humanize %></p>
          <p style="text-align: right;">
            <% cokr[:role_holders].each do |admin_user| %>
              <%= link_to admin_user.email, admin_admin_user_path(admin_user) %>
            <% end %>
          </p>
        </div>

        <% okr_results = cokr[:okr] %>
        <% if okr_results.present? %>
          <% value = okr_results.dig("value").to_f  %>
          <% target = (okr_results.dig("target").try(:to_f) || 0).round(2) %>
          <% health = okr_results.dig("health")  %>
          <% tolerance = (okr_results.dig("tolerance").try(:to_f) || 0).round(2)  %>
          <% unit = okr_results.dig("unit") %>
          <% surplus = (okr_results.dig("surplus") || 0).to_f.round(2) %>
          <% hint = (okr_results.dig("hint") || "No hint given") %>

          <div class="module-body">
            <div class="flex" style="align-items: baseline;">
              <% if unit == "usd" %>
                <h2 style="margin: 0;" class="<%= health %>"><%= number_to_currency(value.round(2)) %></h2> <p>(target: <%= number_to_currency(target) %>±<%= tolerance %>)</p>
              <% elsif unit == "percentage" %>
                <% if cokr[:growth_progress].present? %>
                  <div class="okr_growth_progress">
                    <div class="bar">
                      <div class="inner_progress_bar <%= cokr[:growth_progress][:health] %>" style="width:<%= (cokr[:growth_progress][:today][:actual] / cokr[:growth_progress][:abs])*100 %>%;"></div>
                    </div>
                    <div class="target_indicator low" style="left:<%= (cokr[:growth_progress][:today][:low] / cokr[:growth_progress][:abs])*100 %>%;"></div>
                    <div class="target_indicator mid" style="left:<%= (cokr[:growth_progress][:today][:mid] / cokr[:growth_progress][:abs])*100 %>%;"></div>
                    <div class="target_indicator high" style="left:<%= (cokr[:growth_progress][:today][:high] / cokr[:growth_progress][:abs])*100 %>%;"></div>
                  </div>
                <% else %>
                  <h2 style="margin: 0;" class="<%= health %>"><%= value.round(2) %>%</h2> <p>(<%= target.round(2) %>%±<%= tolerance %>)</p>
                <% end %>
              <% elsif unit == "display" %>
                <h2 style="margin: 0;" class="<%= health %>"><%= okr_results.dig("value") %></h2>
              <% else %>
                <h2 style="margin: 0;" class="<%= health %>"><%= value.round(2) %></h2> <p>( <%= target.round(2) %>±<%= tolerance %>)</p>
              <% end %>
            </div>

            <% if cokr[:growth_progress].present? %>
              <p class="okr_hint" style="padding-top: 0px !important; padding-bottom: 6px;">
                This year, in order to achieve a <%= cokr[:datapoint].to_s.humanize %> of <%= target.round(2) %>%±<%= tolerance %>, we’re targeting a total of between <%= cokr[:growth_progress][:unit] == :usd ? number_to_currency(cokr[:growth_progress][:eoy][:low]) : cokr[:growth_progress][:eoy][:low].round(2) %> and <%= cokr[:growth_progress][:unit] == :usd ? number_to_currency(cokr[:growth_progress][:eoy][:high]) : cokr[:growth_progress][:eoy][:high].round(2) %>. Today is day <%= cokr[:growth_progress][:elapsed_days_this_year] %> of <%= cokr[:growth_progress][:total_days_this_year] %>, so operating linearly, we should be between <%= cokr[:growth_progress][:unit] == :usd ? number_to_currency(cokr[:growth_progress][:today][:low]) : cokr[:growth_progress][:today][:low].round(2) %> to <%= cokr[:growth_progress][:unit] == :usd ? number_to_currency(cokr[:growth_progress][:today][:high]) : cokr[:growth_progress][:today][:high].round(2) %>
              </p>
              <p class="okr_hint" style="padding-top: 0px !important">
                In actuality we're at <%= cokr[:growth_progress][:unit] == :usd ? number_to_currency(cokr[:growth_progress][:today][:actual]) : cokr[:growth_progress][:today][:actual].round(2) %>, so this OKR is considered <span class="pill <%= cokr[:growth_progress][:health] %>"><%= cokr[:growth_progress][:health] %></span>
              </p>
            <% else %>
              <p class="okr_hint" style="padding-top: 0px !important"><%= sanitize hint, attributes: ["href", "target"] %></p>
            <% end %>
          </div>
        <% else %>
          <div class="module-body">
            <div class="flex" style="align-items: baseline;">
              <h2 style="margin: 0;">TBD</h2>
            </div>

            <p class="okr_hint" style="padding-top: 0px !important">This metric is still being incorporated</p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">💸 Money at a Glance</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module" style="min-height: 371px">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h2><%= number_to_currency(runway_data[:average_burn_rate]) %></h2>
        <p>Average monthly spend for the last three months</p>
      </div>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h2><%= number_to_currency(runway_data[:net_cash]) %></h2>
        <p>Net cash in our bank account (excluding credit card balances)</p>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h2><%= (runway_data[:net_cash] / runway_data[:average_burn_rate]).round(2) %> months</h2>
        <p>Estimated salary runway</p>
      </div>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th class="col">Account</th>
            <th class="col text-center">Classification</th>
            <th class="col text-right">Balance</th>
          </tr>
        </thead>
        <tbody>
          <% accounts.sort_by(&:classification).each_with_index do |account, idx| %>
            <tr class="<%= idx.even? ? "even" : "odd" %>">
              <td class="col text-left">
                <%= account.name %>
              </td>
              <td class="co text-center">
                <%= account.classification %>
              </td>
              <td class="col text-right">
                <% if account.classification == "Liability" %>
                  <%= number_to_currency(-1 * account.current_balance.abs) %>
                <% else %>
                  <%= number_to_currency(account.current_balance) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">⏳ garden3d over time</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Garden3d over Time</p>
      <p>
        <a href="?g3d=psu" class="<%= (params["g3d"] == "psu" || params["g3d"] == nil) ? "underline" : "" %>">
          PSU Value
        </a>
      </p>
      <p>
        <a href="?g3d=psp" class="<%= params["g3d"] == "psp" ? "underline" : "" %>">
          Profit Share Pool
        </a>
      </p>
      <p>
        <a href="?g3d=revenue" class="<%= params["g3d"] == "revenue" ? "underline" : "" %>">
          Revenue
        </a>
      </p>
      <p>
        <a href="?g3d=margin" class="<%= params["g3d"] == "margin" ? "underline" : "" %>">
          Profit Margin
        </a>
      </p>
    </div>
    <div class="module-body">
      <canvas id="g3d-over-time"></canvas>
    </div>
  </div>
</div>

<script>
  new Chart(document.getElementById('g3d-over-time'), {
    type: 'bar',
    data: <%= g3d_over_time_data.to_json.html_safe %>,
  })
</script>
