<div class="dashboard-modules table index_table index">
  <div class="dashboard-module" style="min-height: 371px">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h2><%= number_to_currency(runway_data[:average_burn_rate]) %></h2>
        <p>Average monthly spend for the last three months</p>
      </div>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h2><%= number_to_currency(runway_data[:net_cash]) %></h2>
        <p>Net cash in our bank account (excluding credit card balances)</p>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h2><%= (runway_data[:net_cash] / runway_data[:average_burn_rate]).round(2) %> months</h2>
        <p>Estimated salary runway</p>
      </div>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th class="col">Account</th>
            <th class="col text-center">Classification</th>
            <th class="col text-right">Balance</th>
          </tr>
        </thead>
        <tbody>
          <% accounts.sort_by(&:classification).each_with_index do |account, idx| %>
            <tr class="<%= idx.even? ? "even" : "odd" %>">
              <td class="col text-left">
                <%= account.name %>
              </td>
              <td class="co text-center">
                <%= account.classification %>
              </td>
              <td class="col text-right">
                <% if account.classification == "Liability" %>
                  <%= number_to_currency(-1 * account.current_balance.abs) %>
                <% else %>
                  <%= number_to_currency(account.current_balance) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Garden3d over Time</p>
      <p>
        <a href="?g3d=psu" class="<%= (params["g3d"] == "psu" || params["g3d"] == nil) ? "underline" : "" %>">
          PSU Value
        </a>
      </p>
      <p>
        <a href="?g3d=psp" class="<%= params["g3d"] == "psp" ? "underline" : "" %>">
          Profit Share Pool
        </a>
      </p>
      <p>
        <a href="?g3d=revenue" class="<%= params["g3d"] == "revenue" ? "underline" : "" %>">
          Revenue
        </a>
      </p>
      <p>
        <a href="?g3d=margin" class="<%= params["g3d"] == "margin" ? "underline" : "" %>">
          Profit Margin
        </a>
      </p>
    </div>
    <div class="module-body">
      <canvas id="g3d-over-time"></canvas>
    </div>
  </div>
</div>

<script>
  new Chart(document.getElementById('g3d-over-time'), {
    type: 'bar',
    data: <%= g3d_over_time_data.to_json.html_safe %>,
  })
</script>
