<div class="skill_tree_hint">
  <p>The following aggregates availabilities from our Assignments table in Notion, to make it easier for the New Biz Turbo Team to plan upcoming projects, and consistently meet our "90%+ sellable hours sold" OKR.</p>
</div>

<a href="https://www.notion.so/garden3d/cfc84dd4f3b34805ad6ecc881356235d?v=6bd09f13eaa04171859b3a668735766e" target="_blank">
  <p class="nag" style="margin-bottom: 20px;margin-right:10px;">
    📅 Open Assignments in Notion ↗
  </p>
</a>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">Errors</h2>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 20px">
  <tbody>
    <% if errors.any? %>
      <% errors.each_with_index do |e, idx| %>
        <tr class="<%= idx.even? ? "even" : "odd" %>">
          <td class="col">
            <span>
              <% case e[:error]
                when :email %>
                An assignment is missing a valid assignee.
              <% when :dates %>
                An assignment (for <%= e[:email] %>) is missing dates.
              <% when :allocation %>
                An assignment (for <%= e[:email] %>) is missing an allocation.
              <% end %>
            </span>
          </td>
          <td class="col">
            <a href="<%= e[:url] %>" target="_blank">Fix ↗</a>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td class="col"><span class="fully-resourced">No Errors.</span></td></tr>
    <% end %>
  </tbody>
</table>

<!-- Current Avails -->
<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">Today</h2>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 20px">
  <tbody>
    <% today.each_with_index do |c, idx| %>
      <tr class="<%= idx.even? ? "even" : "odd" %>">
        <td class="col">
          <span class="<%= c[1] > 1 ? "over-resourced" : "" %> <%= c[1] < 1 ? "under-resourced" : "" %> <%= c[1] == 1 ? "fully-resourced" : "" %>">
            <%= c[0] %> is at <%= (c[1] * 100).round(0) %>%
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Future Changes -->
<% changes.each do |change| %>
  <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
    <div id="titlebar_left">
      <h2 id="page_title"><%= change[0].strftime("%B %-d, %Y") %></h2>
    </div>
  </div>

  <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 20px">
    <tbody>
      <% change[1].each_with_index do |c, idx| %>
        <tr class="<%= idx.even? ? "even" : "odd" %>">
          <td class="col">
            <span class="<%= c[1][1] > 1 ? "over-resourced" : "" %> <%= c[1][1] < 1 ? "under-resourced" : "" %> <%= c[1][1] == 1 ? "fully-resourced" : "" %>">
              <%= c[0] %> moves from <%= (c[1][0] * 100).round(0) %>% to <%= (c[1][1] * 100).round(0) %>%
            </span>
          </td>
          <td class="col text-right">
            <% studios = Stacks::Utils.studios_for_email(c[0]) %>
            <% if studios.any? %>
              <% studios.map do |s| %>
                <span class="pill <%= s[:mini_name] %>"><%= s[:mini_name] %></span>
              <% end %>
            <% else %>
              <span class="pill error">no studio in forecast</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
