
<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Settings</p>
    </div>
    <div class="module-body">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 0px">
        <tbody>
          <% resource.class.stored_attributes[:settings].each_with_index do |attr, idx| %>
            <tr class="<%= idx.even? ? "even" : "odd" %>">
              <td class="col">
                <%= attr.to_s.humanize %>
              </td>
              <td class="col text-right">
                <%= resource.send(attr) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-header">
      <p>Stacks Admins</p>
    </div>
    <div class="module-body">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 0px">
        <tbody>
          <% admins.each_with_index do |a, idx| %>
            <tr class="<%= idx.even? ? "even" : "odd" %>">
              <td class="col">
                <%= link_to a.email, admin_admin_user_path(a) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">ðŸ“¢ System Notifications</h2>
  </div>
</div>

<% notification_view_modes.each do |notification_view_mode| %>
  <a href="?notification_view=<%= notification_view_mode %>" style="margin-right: 6px">
    <p class="nag pill <%= current_notification_view_mode == notification_view_mode ? "complete" : "" %>" style="margin-bottom: 0px;margin-right: 6px;">
      <%= notification_view_mode.capitalize %>
    </p>
  </a>
<% end %>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-top: 20px; margin-bottom: 20px">
  <tbody>
    <% if errors.any? %>
      <% errors.each_with_index do |n, idx| %>
        <tr class="<%= idx.even? ? "even" : "odd" %>">
          <td class="col" style="vertical-align:middle;">
            <% case (n.params[:priority] || 0)
              when 0 %>
              <div class="status-dot urgent"></div>
            <% when 1 %>
              <div class="status-dot important"></div>
            <% when 2 %>
              <div class="status-dot important"></div>
            <% else %>
              <div class="status-dot chill"></div>
            <% end %>
          </td>
          <td class="col">
            <% case n.params[:type]
              when :assignment %>

              <% case n.params[:error]
                when :over_assigned %>
                <strong><%= n.params[:subject] %></strong> is currently overassigned.
              <% else %>
                An assignment for <strong><%= n.params[:subject] || "(No User)" %></strong> is missing <%= n.params[:error] %>.
              <% end %>

            <% when :user %>
              <% case n.params[:error]
                when :no_dei_response %>
                <strong><%= n.params[:subject].email %></strong> has not recorded a DEI response.
              <% when :unknown_salary %>
                <strong><%= n.params[:subject].email %></strong> does not have a starting skill tree level set.
              <% when :no_full_time_periods %>
                <strong><%= n.params[:subject].email %></strong> is marked as a <strong>Core Contributor</strong>, but does not have any employment periods set.
              <% when :stale_skill_tree %>
                <strong><%= n.params[:subject].email %></strong> is probably overdue to conduct a skill tree review.
              <% when :active_but_missing_accounts %>
                <strong><%= n.params[:subject].email %></strong> is active, but is missing key software accounts. Have they been onboarded, or should they archived?
              <% when :archived_with_active_accounts %>
                <strong><%= n.params[:subject].email %></strong> is archived, but still has user accounts with our software providers. Have they been offboarded from our systems properly?
              <% else %>
                Unknown UserError
              <% end %>

            <% when :project_tracker %>
              <% case n.params[:error]
                when :seemingly_complete %>
                The <strong><%= n.params[:subject].name %></strong> Project Tracker has not registered any new hours for over a month (and is not "ongoing"). Should it be marked as <span class="pill complete">Complete</span>?
              <% when :over_budget %>
                The <strong><%= n.params[:subject].name %></strong> Project Tracker is <span class="pill over_budget">Over budget</span>. Can we support them?
              <% when :no_project_lead %>
                The <strong><%= n.params[:subject].name %></strong> Project Tracker has <span class="pill error">No Project Lead</span>.
              <% when :capsule_pending %>
                The <strong><%= n.params[:subject].name %></strong> Project Tracker is currently <span class="pill capsule_pending">Capsule pending</span>. Let's finalize a project capsule?
              <% else %>
                Unknown Project Tracker Error
              <% end %>

            <% when :finalization %>
              A Skill Tree Review is ready to review and archive.

            <% when :forecast_project%>
              <% case n.params[:error]
                when :multiple_hourly_rates %>
                <strong><%= n.params[:subject].display_name %></strong> has multiple hourly rates (the first will be used).
              <% when :no_explicit_hourly_rate %>
                <strong><%= n.params[:subject].display_name %></strong> does not have an explicit hourly rate (the Stacks default will be used).
              <% else %>
                Unknown Forecast Project Error
              <% end %>

            <% when :forecast_client %>
              A Forecast Client called <strong><%= n.params[:subject].name %></strong> does not have a Quickbooks Customer record.
            <% when :forecast_person %>
              <strong><%= n.params[:subject].email %></strong> does not have an assigned studio in Forecast.
            <% when :invoice_tracker %>
              The following invoice statuses need action:
              <% n.params[:subject].each do |status, count| %>
                <span class="pill <%= status %>" style="margin-right: 6px;">
                  <%= count %>x <%= status.to_s.humanize %>
                </span>
              <% end %>
            <% else %>
              Unknown Error
            <% end %>
          </td>

          <td class="col text-right">
            <% if n.read? %>
              <%= link_to "â° Unsnooze", mark_as_unread_admin_system_path(resource, notification_id: n.id), method: :post %>
            <% else %>
              <%= link_to "ðŸ’¤ Snooze", mark_as_read_admin_system_path(resource, notification_id: n.id), method: :post %>
            <% end %>
          </td>

          <td class="col text-right">
            <% if n.params[:link].present? %>
              <a href="<%= n.params[:link] %>" target="_blank">Fix â†—</a>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td class="col"><span class="fully-resourced">No Notifications.</span></td></tr>
    <% end %>
  </tbody>
</table>


