<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Settings</p>
    </div>
    <div class="module-body">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 0px">
        <tbody>
          <% resource.class.stored_attributes[:settings].each_with_index do |attr, idx| %>
            <tr class="<%= idx.even? ? "even" : "odd" %>">
              <td class="col">
                <%= attr.to_s.humanize %>
              </td>
              <td class="col text-right">
                <%= resource.send(attr) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-header">
      <p>Admins</p>
    </div>
    <div class="module-body">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 0px">
        <tbody>
          <% admins.each_with_index do |a, idx| %>
            <tr class="<%= idx.even? ? "even" : "odd" %>">
              <td class="col">
                <%= link_to a.email, admin_admin_user_path(a) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 20px">
  <tbody>
    <% if errors.any? %>
      <% errors.each_with_index do |n, idx| %>
        <tr class="<%= idx.even? ? "even" : "odd" %>">
          <td class="col" style="vertical-align:middle;">
            <% case (n[:priority] || 0)
              when 0 %>
              <div class="status-dot urgent"></div>
            <% when 1 %>
              <div class="status-dot important"></div>
            <% when 2 %>
              <div class="status-dot important"></div>
            <% else %>
              <div class="status-dot chill"></div>
            <% end %>
          </td>
          <td class="col">
            <% case n[:type]
              when :assignment %>

              <% case n[:error]
                when :over_assigned %>
                <strong><%= n[:subject] %></strong> is currently overassigned.
              <% else %>
                An assignment for <strong><%= n[:subject] || "(No User)" %></strong> is missing <%= n[:error] %>.
              <% end %>

            <% when :user %>
              <% case n[:error]
                when :no_dei_response %>
                <strong><%= n[:subject].email %></strong> has not recorded a DEI response.
              <% when :unknown_salary %>
                <strong><%= n[:subject].email %></strong> does not have a starting skill tree level set.
              <% when :no_full_time_periods %>
                <strong><%= n[:subject].email %></strong> does not have any employment periods set.
              <% else %>
                Unknown Project Tracker Error
              <% end %>

            <% when :project_tracker %>
              <% case n[:error]
                when :seemingly_complete %>
                The <strong><%= n[:subject].name %></strong> Project Tracker has not registered any new hours for over a month (and is not "ongoing"). Should it be marked as <span class="pill complete">Complete</span>?
              <% when :over_budget %>
                The <strong><%= n[:subject].name %></strong> Project Tracker is <span class="pill over_budget">Over budget</span>. Can we support them?
              <% when :no_atc %>
                The <strong><%= n[:subject].name %></strong> Project Tracker has <span class="pill error">No ATC</span>.
              <% else %>
                Unknown Project Tracker Error
              <% end %>

            <% when :finalization %>
              A Skill Tree Review is ready to review and archive.
            <% when :forecast_project %>
              A Forecast Project has multiple hourly rates (the first will be used).
            <% when :forecast_client %>
              A Forecast Client called <strong><%= n[:subject].name %></strong> does not have a Quickbooks Customer record.
            <% when :forecast_person %>
              <strong><%= n[:subject].email %></strong> does not have an assigned studio in Forecast.
            <% when :invoice_tracker %>
              The following invoice statuses need action:
              <% n[:subject].each do |status, count| %>
                <span class="pill <%= status %>" style="margin-right: 6px;">
                  <%= count %>x <%= status.to_s.humanize %>
                </span>
              <% end %>
            <% else %>
                hi
            <% end %>
          </td>

          <td class="col text-right">
            <% if n[:link].present? %>
              <a href="<%= n[:link] %>" target="_blank">Fix ↗</a>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr><td class="col"><span class="fully-resourced">No Notifications.</span></td></tr>
    <% end %>
  </tbody>
</table>


