<% cosr.reverse_each do |p| %>
  <% period, by_studio = p %>

  <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
    <div id="titlebar_left">
      <h2 id="page_title">
        <%= period.label %>
      </h2>
    </div>
    <div id="titlebar_right">
      <h2>
        <%= number_to_currency by_studio.reduce(0){|acc, d| acc += d[1][:total_studio_hours] * d[1][accounting_method.to_sym][:actual_cost_per_hour_sold]; acc} %>
      </h2>
    </div>
  </div>

  <% by_studio.keys.each do |studio| %>
    <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom:20px;table-layout:fixed;">
      <thead>
        <tr>
          <th class="col">
            <%= link_to "#{studio.name} ↗", admin_studio_path(studio) %>
          </th>
          <th class="col">
            Hours
          </th>
          <th class="col">
            @ Cost per Sellable Hour <%= number_to_currency by_studio[studio][accounting_method.to_sym][:cost_per_sellable_hour] %>
          </th>
          <th class="col text-right">
            @ Actual Cost per Hour Sold <%= number_to_currency by_studio[studio][accounting_method.to_sym][:actual_cost_per_hour_sold] %>
          </th>
        </tr>
      </thead>

      <tbody>
        <% by_studio[studio][:forecast_people].each_with_index do |tuple, index| %>
          <% person, data = tuple %>
          <tr class="<%= index.even? ? "even" : "odd" %>">
            <td class="col">
              <%= person.email %>
            </td>
            <td class="col">
              <%= data[:hours] %>
            </td>
            <td class="col">
              <%= number_to_currency data[:hours] * by_studio[studio][accounting_method.to_sym][:cost_per_sellable_hour] %>
            </td>
            <td class="col text-right">
              <%= number_to_currency data[:hours] * by_studio[studio][accounting_method.to_sym][:actual_cost_per_hour_sold] %>
            </td>
          </tr>
        <% end %>
        <tr class="odd">
          <td class="col">
            <strong>Total</strong>
          </td>
          <td></td>
          <td></td>
          <td class="col text-right">
            <%= number_to_currency by_studio[studio][:total_studio_hours] * by_studio[studio][accounting_method.to_sym][:actual_cost_per_hour_sold] %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
  

<% end %>