<a href="https://www.notion.so/garden3d/Using-Stacks-3bb041a0cfe84e4d899707901374a001#6a92d4706777450184e4f39fd23485e8" target="_blank">
  <p class="nag">
    🤔 Learn how to fix common errors here ↗
  </p>
</a>

<% if (invoice_pass.data || {})["reminder_passes"].present? && invoice_pass.latest_reminder_pass.any? %>
  <h3>🚫 The following people are missing hours:</h3>

  <table border="0" cellspacing="0" cellpadding="0" id="index_table_invoice_passes" class="index_table index" paginator="true">
    <thead>
      <tr>
        <th class="sortable sorted-desc col col-start_of_month"><a href="/admin/invoice_passes?order=start_of_month_asc">Email</a></th>
        <th class="col">Missing Hours</th>
      </tr>
    </thead>
    <tbody>
      <% invoice_pass.latest_reminder_pass.each_with_index do |tuple, index| %>
        <tr class="<%= index.even? ? "even" : "odd" %>" id="invoice_pass_1">
          <td class="col"><%= tuple[0] %></td>
          <td class="col"><%= tuple[1]["missing_allocation"].to_f / 60 / 60 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if (invoice_pass.data || {})["generator_passes"].present? %>
  <!-- Error States -->
  <% if invoice_pass.latest_generator_pass["error_missing_qbo_customer"].any? %>
    <h3>🚫 The following Harvest Forecast clients can't find a Quickbooks Customer Record:</h3>
    <table border="0" cellspacing="0" cellpadding="0" id="index_table_invoice_passes" class="index_table index" paginator="true">
      <thead>
        <tr>
          <th class="sortable sorted-desc col col-start_of_month"><a href="/admin/invoice_passes?order=start_of_month_asc">Forecast Client Name</a></th>
          <th class="col col-actions"></th>
        </tr>
      </thead>
      <tbody>
        <% invoice_pass.latest_generator_pass["error_missing_qbo_customer"].each_with_index do |invoice, index| %>
          <tr class="<%= index.even? ? "even" : "odd" %>" id="invoice_pass_1">
            <td class="col"><%= invoice["forecast_client"]["name"] %></td>
            <td class="col col-actions">
              <div class="table_actions"><a class="view_link member_link" title="View" href="https://app.qbo.intuit.com/app/customers" target="_blank">Fix in Quickbooks</a></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <% if invoice_pass.latest_generator_pass["error_hourly_rate_malformed"].any? %>
    <h3>🚫 The following Harvest Forecast clients have a project in Harvest with two conflicting hourly rates:</h3>

    <table border="0" cellspacing="0" cellpadding="0" id="index_table_invoice_passes" class="index_table index" paginator="true">
      <thead>
        <tr>
          <th class="sortable sorted-desc col col-start_of_month"><a href="/admin/invoice_passes?order=start_of_month_asc">Forecast Client Name</a></th>
          <th class="col col-actions"></th>
        </tr>
      </thead>
      <tbody>
        <% invoice_pass.latest_generator_pass["error_hourly_rate_malformed"].each_with_index do |invoice, index| %>
          <tr class="<%= index.even? ? "even" : "odd" %>" id="invoice_pass_1">
            <td class="col"><%= invoice["forecast_client"]["name"] %></td>
            <td class="col col-actions">
              <div class="table_actions"><a class="view_link member_link" title="View" href="https://forecastapp.com/864444/schedule/projects" target="_blank">Fix in Forecast</a></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>


  <% if invoice_pass.latest_generator_pass["error_payment_term_malformed"].any? %>
    <h3>🚫 The following Quickbooks Customer Records have a malformed payment term:</h3>
    <table border="0" cellspacing="0" cellpadding="0" id="index_table_invoice_passes" class="index_table index" paginator="true">
      <thead>
        <tr>
          <th class="sortable sorted-desc col col-start_of_month"><a href="/admin/invoice_passes?order=start_of_month_asc">Forecast Client Name</a></th>
          <th class="col col-actions"></th>
        </tr>
      </thead>
      <tbody>
        <% invoice_pass.latest_generator_pass["error_payment_term_malformed"].each_with_index do |invoice, index| %>
          <tr class="<%= index.even? ? "even" : "odd" %>" id="invoice_pass_1">
            <td class="col"><%= invoice["forecast_client"]["name"] %></td>
            <td class="col col-actions">
              <div class="table_actions"><a class="view_link member_link" title="View" href="https://app.qbo.intuit.com/app/customers" target="_blank">Fix in Quickbooks</a></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <!-- The Good Ones -->
  <% if (invoice_pass.latest_generator_pass["generated"] + invoice_pass.latest_generator_pass["existing"]).any? %>
    <h3>💹 The following invoices were generated successfully:</h3>

    <table border="0" cellspacing="0" cellpadding="0" id="index_table_invoice_passes" class="index_table index" paginator="true">
      <thead>
        <tr>
          <th class="sortable sorted-desc col col-start_of_month"><a href="/admin/invoice_passes?order=start_of_month_asc">Client</a></th>
          <th class="col">Status</th>
          <th class="col">Amount</th>
          <th class="col col-actions"></th>
        </tr>
      </thead>
      <tbody>
        <% (invoice_pass.latest_generator_pass["generated"] + invoice_pass.latest_generator_pass["existing"]).each_with_index do |invoice, index| %>
          <% qbo_invoice = qbo_invoices.find{|i| invoice["qbo_invoice"]["id"] == i.id} %>
          <tr class="<%= index.even? ? "even" : "odd" %>" id="invoice_pass_1">
            <td class="col"><%= invoice["forecast_client"]["name"] %></td>
            <td class="col"><%= qbo_invoice.present? ? qbo_invoice.email_status : "Deleted" %></td>
            <td class="col"><%= qbo_invoice.present? ? number_to_currency(qbo_invoice.total) : "-" %></td>
            <td class="col col-actions">
              <% if qbo_invoice.present? %>
                <div class="table_actions">
                  <a class="view_link member_link" href="https://app.qbo.intuit.com/app/invoice?txnId=<%= invoice["qbo_invoice"]["id"] %>" target="_blank">QBO Invoice ↗</a></div>
                  <a class="view_link member_link" href="https://app.qbo.intuit.com/app/customerdetail?nameId=<%= invoice["qbo_customer"]["id"] %>" target="_blank">QBO Customer ↗</a>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

