<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Skill Tree</p>
      <% if resource.show_skill_tree_data? %>
        <p>Public</p>
      <% else %>
        <p>Private</p>
      <% end %>
    </div>
    <div class="module-body">
      <% if resource == current_admin_user || resource.show_skill_tree_data? %>
        <% if data[:datasets].any? %>
          <canvas id="skill-chart" width="500" height="500"></canvas>
        <% else %>
          <p>No Reviews Yet.</p>
        <% end %>
      <% else %>
        <p>Private.</p>
      <% end %>
    </div>
  </div>

  <div class="dashboard-module">
    <div class="module-header">
      <p>Info</p>
      <!-- <p><a>Notion →</a></p> -->
    </div>
    <div class="module-body">
      <% if resource == current_admin_user || resource.show_skill_tree_data? %>
        <p><strong>Skill Tree Level:</strong> <%= resource.skill_tree_level_without_salary %><%= resource.show_skill_tree_data? ? "" : " (Private)" %></p>
      <% else %>
        <p><strong>Skill Tree Level:</strong> Private</p>
      <% end %>
      <% if resource.roles.any? %>
        <p><strong>Stacks System Roles:</strong> <%= resource.roles.map(&:humanize).join(", ") %></p>
      <% else %>
        <p><strong>Stacks System Roles:</strong> None</p>
      <% end %>

      <p><strong>ATC Months:</strong> <%= resource.atc_months.round(2) %></p>
      <p><strong>Studio Coordinator Months:</strong> <%= resource.studio_coordinator_months.round(2) %></p>
    </div>
  </div>
</div>

<!-- Profit Share -->
<% if resource == current_admin_user || current_admin_user.is_admin? %>
  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-header">
        <p>Profit Share</p>
        <span class="pill ready">Only you can see this</span>
      </div>
      <div class="module-body">
        <% resource.profit_shares.each_with_index do |share, index| %>
          <h3><strong>2021</strong></h3>
          <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
            <tbody>
              <tr class="odd">
                <td class="col">PSU Earned</td>
                <td class="col"><%= share[:psu_earnt] %></td>
              </tr>
              <tr class="even">
                <td class="col">PSU Value</td>
                <td class="col">
                  <%= number_to_currency(share[:psu_value]) %>
                </td>
              </tr>
              <tr class="odd">
                <td class="col">Pre-Spent Profit Share</td>
                <td class="col">
                  <%= number_to_currency(share[:pre_spent_profit_share]) %>
                </td>
              </tr>
              <tr class="even">
                <td class="col"><strong>Total Payout</strong></td>
                <td class="col"><%= number_to_currency(share[:total_payout]) %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<script>
  var ctx = document.getElementById('skill-chart');
  if (ctx) {
    new Chart(document.getElementById('skill-chart'), {
      type: 'radar',
      data: <%= data.to_json.html_safe %>,
      options: {
        scales: {
          r: {
            suggestedMin: 0,
            suggestedMax:58
          }
        },
      }
    });
  }
</script>
