<figure class="text-center">
  <div>
    <img class="rounded-full" src="<%= (resource.info || {}).dig("image") %>" />
    <% if resource.is_admin? %>
      <span class="pill ready absolute">Stacks Admin</span>
    <% end %>
  </div>
  <h1>
    <%= (resource.info || {}).dig("name") %>
  </h1>
  <div class="flex justify-center">
    <div class="p2 border-right">
      <h2 class="m0"><%= resource.skill_tree_level_without_salary %></h2>
      <p>Skill Tree Level</p>
    </div>
    <div class="p2 border-right">
      <h2 class="m0"><%= resource.psu_earned_by || "?" %></h2>
      <p>Profit Share Units</p>
    </div>
    <div class="p2">
      <h2 class="m0"><%= resource.expected_utilization * 100 %>%</h2>
      <p>Expected Utilization</p>
    <div>
    </div>
  </div>
</figure>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Skill Tree</p>
    </div>
    <div class="module-body">
      <% if data[:datasets].any? %>
        <canvas id="skill-chart" width="500" height="500"></canvas>
      <% else %>
        <p>No Reviews (yet)</p>
      <% end %>
    </div>
  </div>
  <div class="dashboard-module">
    <div class="module-header">
      <p>Overview</p>
    </div>
    <div class="module-body">
      <% if resource.met_associates_requirements_at.present? %>
        <p><strong>Met Associates Requirements At:</strong> <%= resource.met_associates_requirements_at.strftime("%B %d, %Y") %></p>
      <% end %>
      <p><strong>Projected PSU by EOY:</strong> <%= resource.projected_psu_by_eoy %></p>
      <p><strong>ATC Months:</strong> <%= resource.atc_months.round(2) %></p>
      <p><strong>Studio Coordinator Months:</strong> <%= resource.studio_coordinator_months.round(2) %></p>
    </div>
  </div>
</div>

<!-- Profit Share -->
<table border="0" cellspacing="0" cellpadding="0" class="index_table index mb2">
  <thead>
    <tr>
      <th class="col">Profit Shares</th>
      <th class="col text-center">PSU</th>
      <th class="col text-center">Value</th>
      <th class="col text-center">Pre-spent</th>
      <th class="col text-right">Payout</th>
    </tr>
  </thead>
  <tbody>
    <% resource.profit_shares.each_with_index do |share, index| %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <%= share[:year] %>
        </td>
        <td class="col text-center">
          <%= share[:psu_earnt] %>
        </td>
        <td class="col text-center">
          <%= number_to_currency(share[:psu_value]) %>
        </td>
        <td class="col text-center">
          <%= number_to_currency(share[:pre_spent_profit_share]) %>
        </td>
        <td class="col text-right">
          <%= number_to_currency(share[:total_payout]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Periods -->
<table border="0" cellspacing="0" cellpadding="0" class="index_table index">
  <thead>
    <tr>
      <th class="col">Employment Periods</th>
      <th class="col text-center">Expected Utilization</th>
      <th class="col text-center">Started At</th>
      <th class="col text-right">Ended At</th>
    </tr>
  </thead>
  <tbody>
    <% resource.full_time_periods.order("started_at DESC").each_with_index do |ftp, index| %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <%= (ftp.multiplier * 5).to_i %>-Day Worker
        </td>
        <td class="col text-center">
          <%= ftp.expected_utilization * 100 %>%
        </td>
        <td class="col text-center">
          <%= ftp.started_at.strftime("%b %d, %Y") %>
        </td>
        <td class="col text-right">
          <% if ftp.ended_at %>
            <%= ftp.ended_at.strftime("%b %d, %Y") %>
          <% else %>
            <strong class="color-blue">Current</strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>
  var ctx = document.getElementById('skill-chart');
  if (ctx) {
    new Chart(document.getElementById('skill-chart'), {
      type: 'radar',
      data: <%= data.to_json.html_safe %>,
      options: {
        scales: {
          r: {
            suggestedMin: 0,
            suggestedMax:58
          }
        },
      }
    });
  }
</script>
