<figure class="text-center">
  <div>
    <img class="rounded-full" src="<%= (resource.info || {}).dig("image") %>" />
    <% if resource.is_admin? %>
      <span class="pill ready absolute">Stacks Admin</span>
    <% end %>
  </div>
  <h1>
    <%= (resource.info || {}).dig("name") %>
  </h1>
  <div class="flex justify-center">
    <div class="p2 border-right">
      <h2 class="m0"><%= resource.skill_tree_level_without_salary %></h2>
      <p>Skill Tree Level</p>
    </div>
    <div class="p2 border-right">
      <h2 class="m0"><%= resource.psu_earned_by || "?" %></h2>
      <p>Profit Share Units</p>
    </div>
    <div class="p2">
      <h2 class="m0"><%= resource.expected_utilization * 100 %>%</h2>
      <p>Expected Utilization</p>
    <div>
    </div>
  </div>
</figure>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Skill Tree</p>
    </div>
    <div class="module-body">
      <% if data[:datasets].any? %>
        <canvas id="skill-chart" width="500" height="500"></canvas>
      <% else %>
        <p>No Reviews (yet)</p>
      <% end %>
    </div>
  </div>
  <div class="dashboard-module">
    <div class="module-header">
      <p>Overview</p>
    </div>
    <div class="module-body">
      <% if resource.met_associates_requirements_at.present? %>
        <p><strong>Met Associates Requirements At:</strong> <%= resource.met_associates_requirements_at.strftime("%B %d, %Y") %></p>
      <% end %>
      <p><strong>Projected PSU by EOY:</strong> <%= resource.projected_psu_by_eoy %></p>
      <p><strong>Project Lead Months:</strong> <%= resource.project_lead_months.round(2) %></p>
      <p><strong>Studio Coordinator Months:</strong> <%= resource.studio_coordinator_months.round(2) %></p>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">📏 Project Lead Roles</h2>
  </div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="index_table index mb2">
  <thead>
    <tr>
      <th class="col">Studio</th>
      <th class="col">Project Tracker</th>
      <th class="col">Current?</th>
      <th class="col">Started At</th>
      <th class="col">Ended At</th>
      <th class="col text-right">Time Held in Days</th>
    </tr>
  </thead>
  <tbody>
    <% resource.project_lead_periods.each_with_index do |plp, index| %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <%= link_to plp.studio.name, admin_studio_path(plp.studio) %>
        </td>
        <td class="col">
          <%= link_to plp.project_tracker.name, admin_project_tracker_path(plp.project_tracker) %>
        </td>
        <td class="col">
          <% if plp.current? %>
            <span class="status_tag yes">Yes</span>
          <% else %>
            <span class="status_tag no">No</span>
          <% end %>
        </td>
        <td class="col">
          <%= plp.period_started_at.strftime("%B %d, %Y") %>
        </td>
        <td class="col">
          <%= plp.period_ended_at.strftime("%B %d, %Y") %>
        </td>
        <td class="col text-right">
          <%= plp.time_held_in_days %> days
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Profit Share -->

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🤝 Profit Shares</h2>
  </div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="index_table index mb2">
  <thead>
    <tr>
      <th class="col">Profit Shares</th>
      <th class="col text-center">PSU</th>
      <th class="col text-center">Value</th>
      <th class="col text-center">Pre-spent</th>
      <th class="col text-right">Payout</th>
    </tr>
  </thead>
  <tbody>
    <% resource.profit_shares.each_with_index do |share, index| %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <%= share[:year] %>
        </td>
        <td class="col text-center">
          <%= share[:psu_earnt] %>
        </td>
        <td class="col text-center">
          <%= number_to_currency(share[:psu_value]) %>
        </td>
        <td class="col text-center">
          <%= number_to_currency(share[:pre_spent_profit_share]) %>
        </td>
        <td class="col text-right">
          <%= number_to_currency(share[:total_payout]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- PSU Audit Log -->
<% resource.psu_audit_log.reverse.each_with_index do |ftp_log, index| %>
  <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
    <div id="titlebar_left">
      <h2 id="page_title">
        <%= ftp_log[:ftp].started_at.strftime("%b %d, %Y") %> ->
        <% if ftp_log[:ftp].ended_at %>
          <%= ftp_log[:ftp].ended_at.strftime("%b %d, %Y") %>
        <% else %>
          <span class="color-blue">Current</span>
        <% end %>
      </h2>
    </div>
  </div>

  <% ftp = ftp_log[:ftp] %>

  <p class="nag" style="margin-right: 6px">
    <strong>
      <% if ftp.four_day? || ftp.five_day? %>
        <%= ftp_log[:ftp].expected_utilization * 100 %>% Expected Utilization
      <% else %>
        Does not effect Expected Utilization
      <% end %>
    </strong>
  </p>
  <p class="nag" style="margin-right: 6px">
    <strong>
      <%= ftp_log[:ftp].contributor_type.humanize %> Worker
    </strong>
  </p>
  <p class="nag">
    <strong>
      <% if ftp.five_day? %>
        1 PSU p/month
      <% elsif ftp.four_day? %>
        0.8 PSU p/month
      <% else %>
        Does not accrue PSU
      <% end %>
    </strong>
  </p>

  <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
    <thead>
      <tr>
        <th class="col">Date</th>
        <th class="col text-right">PSU</th>
      </tr>
    </thead>
    <tbody>
      <% ftp_log[:log].map{|k,v| [k, v]}.reverse.each_with_index do |log_entry_tuple, index| %>
        <tr class="<%= index.even? ? "even" : "odd" %>">
          <td class="col">
            <%= log_entry_tuple[1][:date].strftime("%b %d, %Y") %>
          </td>
          <td class="col text-right">
            <%= log_entry_tuple[0] %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<script>
  var ctx = document.getElementById('skill-chart');
  if (ctx) {
    new Chart(document.getElementById('skill-chart'), {
      type: 'radar',
      data: <%= data.to_json.html_safe %>,
      options: {
        scales: {
          r: {
            suggestedMin: 0,
            suggestedMax:58
          }
        },
      }
    });
  }
</script>
