<% qbo_invoice = invoice_tracker.qbo_invoice %>
<% status = invoice_tracker.status %>

<p class="pill nag" style="margin-right: 6px">
  <%= invoice_tracker.invoice_pass.invoice_month %>
</p>
<p class="pill nag <%= status %>" style="margin-right: 6px">
  <%= status.to_s.humanize %>
</p>
<% if qbo_invoice.present? %>
  <a href="https://app.qbo.intuit.com/app/invoice?txnId=<%= qbo_invoice.id %>" target="_blank">
    <p class="nag" style="margin-bottom: 0px;margin-right: 6px;">
      QBO Invoice ↗
    </p>
  </a>
  <a href="https://app.qbo.intuit.com/app/customerdetail?nameId=<%= qbo_invoice.customer_ref["value"] %>" target="_blank">
    <p class="nag" style="margin-bottom: 0px;margin-right: 6px;">
      QBO Customer ↗
    </p>
  </a>
<% end %>

<% if invoice_tracker.notes.present? %>
  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-header">
        <p>❗ Important Notes</p>
      </div>
      <div class="module-body markdown-body">
        <%= sanitize RDiscount.new(invoice_tracker.notes).to_html %>
      </div>
    </div>
  </div>
<% end %>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom:20px;">
  <thead>
    <tr>
      <th class="col"></th>
      <th class="col">Item</th>
      <th class="col">Hours</th>
      <th class="col">Rate</th>
      <th class="col text-right">Total</th>
    </tr>
  </thead>
  <tbody>
    <% blueprint_diff = invoice_tracker.blueprint_diff %>
    <% blueprint_diff["lines"].keys.each_with_index do |line, index| %>
      <% diff_state = blueprint_diff.dig("lines", line, "diff_state") %>

      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <span class="pill <%= diff_state %>">
            <%= diff_state.humanize %>
          </span>
        </td>
        <td class="col">
          <% if diff_state == "removed" %>
            <del><%= line %></del>
          <% else %>
            <%= line %>
          <% end %>
        </td>
        <td class="col">
          <% quantity = blueprint_diff.dig("lines", line, "quantity") %>
          <% if quantity.kind_of?(Array) %>
            <del><%= quantity[0] %></del>
            <%= quantity[1] %>
          <% else %>
            <% if diff_state == "removed" %>
              <del><%= quantity %></del>
            <% else %>
              <%= quantity %>
            <% end %>
          <% end %>
        </td>
        <td class="col">
          <% unit_price = blueprint_diff.dig("lines", line, "unit_price") %>
          <% if unit_price.kind_of?(Array) %>
            <del><%= number_to_currency(unit_price[0]) %></del>
            <%= number_to_currency(unit_price[1]) %>
          <% else %>
            <% if diff_state == "removed" %>
              <del><%= number_to_currency(unit_price) %></del>
            <% else %>
              <%= number_to_currency(unit_price) %>
            <% end %>
          <% end %>
        </td>
        <td class="col text-right">
          <% quantity = blueprint_diff.dig("lines", line, "quantity") %>
          <% unit_price = blueprint_diff.dig("lines", line, "unit_price") %>
          <%= number_to_currency(
            (quantity.kind_of?(Array) ? quantity[1] : quantity) *
            (unit_price.kind_of?(Array) ? unit_price[1] : unit_price)
          ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if invoice_tracker.project_trackers.any? %>
  <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
    <thead>
      <tr>
        <th class="col">
          <div class="icon-and-text">
            Project Trackers
          </div>
        </th>
        <th class="col">Account Lead</th>
        <th class="col">Team Lead</th>
        <th class="col text-right">Status</th>
      </tr>
    </thead>
    <tbody>
      <% invoice_tracker.project_trackers.each_with_index do |pt, index| %>
        <tr class="<%= index.even? ? "even" : "odd" %>">
          <td class="col">
            <%= link_to pt.name, admin_project_tracker_path(pt) %>
          </td>

          <td class="col">
            <% account_lead = pt.account_lead_for_month(invoice_tracker.invoice_pass.start_of_month) %>
            <% if account_lead.present? %>
              <%= link_to account_lead.email, admin_admin_user_path(account_lead) %>
            <% else %>
              <span class="pill error" style="pointer-events: auto;">No Account Lead</span>
            <% end %>
          </td>

          <td class="col">
            <% team_lead = pt.team_lead_for_month(invoice_tracker.invoice_pass.start_of_month) %>
            <% if team_lead.present? %>
              <%= link_to team_lead.email, admin_admin_user_path(team_lead) %>
            <% else %>
              <span class="pill error" style="pointer-events: auto;">No Team Lead</span>
            <% end %>
          </td>

          <td class="col text-right">
            <span class="pill <%= pt.status %>">
              <%= pt.status.to_s.humanize %>
            </span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-body factoid-parent">
        <p>🤔 <strong>Hmmm...</strong> This invoice doesn't have any Project Trackers.</p>
      </div>
    </div>
  </div>
<% end %>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🏓 Payouts</h2>
  </div>
  <% if invoice_tracker.invoice_pass.allows_payment_splits? && current_admin_user.is_admin? %>
    <div id="titlebar_right">
      <div class="action_items">
        <%= link_to "All Payouts ↗", admin_invoice_tracker_contributor_payouts_path(invoice_tracker) %>
      </div>
    </div>
  <% end %>
</div>

<% if invoice_tracker.contributor_payouts.any? %>
  <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
    <thead>
      <tr>
        <th class="col"></th>
        <th class="col">Payee</th>
        <th class="col">Status</th>
        <th class="col">Amount</th>
        <th class="col text-right">Details</th>
      </tr>
    </thead>
    <tbody>
      <% invoice_tracker.contributor_payouts.with_deleted.each_with_index do |cp, index| %>
        <tr class="<%= index.even? ? "even" : "odd" %>">
          <td class="col">
            <span class="pill <%= cp.status %>">
              <%= cp.status.humanize %>
            </span>
          </td>
          <td class="col">
            <% if cp.deleted_at.present? %>
              <del><%= link_to cp.contributor.forecast_person.email, admin_forecast_person_path(cp.contributor.forecast_person) %></del>
            <% else %>
              <%= link_to cp.contributor.forecast_person.email, admin_forecast_person_path(cp.contributor.forecast_person) %>
            <% end %>
          </td>
          <td class="col">
            <span class="pill <%= invoice_tracker.contributor_payouts_status.to_s.humanize %>" style="margin-right: 6px;">
              Payout Acceptance
              <span class="split">
                <%= invoice_tracker.contributor_payouts_status.to_s.humanize %>
              </span>
            </span>

            <% status = invoice_tracker.status == :paid ? :paid : invoice_tracker.allow_early_contributor_payouts_on.present? && invoice_tracker.allow_early_contributor_payouts_on <= Date.today ? :early_payouts_approved : invoice_tracker.status %>
            <span class="pill <%= status %>" style="margin-right: 6px;">
              Invoice
              <span class="split">
                <%= status.to_s.humanize %>
              </span>
            </span>
          </td>
          <td class="col">
            <% if cp.deleted_at.present? %>
              <del>+ <%= number_to_currency(cp.amount) %></del>
            <% else %>
              + <%= number_to_currency(cp.amount) %>
            <% end %>

            <span class="pill <%= cp.accepted? ? "accepted" : "pending" %>" style="margin-right: 6px;">
              <%= cp.accepted? ? "Accepted" : "Pending" %>
              <% if current_admin_user.forecast_person == cp.contributor.forecast_person || current_admin_user.is_admin? %>
              <span class="split">
                  <%= link_to cp.accepted? ? "Unaccept ↗" : "Accept ↗", toggle_contributor_payout_acceptance_admin_invoice_pass_invoice_tracker_path(cp.invoice_tracker.invoice_pass, cp.invoice_tracker, {contributor_payout_id: cp.id}), method: :post, style: "font-size: unset;" %>
                </span>
              <% end %>
            </span>

          </td>
          <td class="col text-right">
            <%= link_to "Breakdown ↗", admin_invoice_tracker_contributor_payout_path(invoice_tracker, cp) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-body factoid-parent">
        <p> <%= invoice_tracker.invoice_pass.allows_payment_splits? ? "This invoice doesn't have any payouts yets." : "This invoice pass was prior to the New Deal, and thus does not support payment splits." %></p>
      </div>
    </div>
  </div>
<% end %>

