<% current_gradation = params["gradation"] || default_gradation %>
<% current_gradation = default_gradation unless all_gradations.include?(current_gradation) %>
<% all_gradations.each do |gradation| %>
  <a href="?gradation=<%= gradation %>" style="margin-right: 6px">
    <p class="nag pill <%= current_gradation == gradation ? "complete" : "" %>" style="margin-bottom: 0px;margin-right: 6px;">
      By <%= gradation.capitalize %>
    </p>
  </a>
<% end %>

<% snapshot[current_gradation].reverse.each do |period| %>
  <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
    <div id="titlebar_left">
      <h2 id="page_title">
        <%= period["label"] %>
      </h2>
    </div>
  </div>

  <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
    <thead>
      <tr>
        <th class="col">Person</th>
        <th class="col">Sellable</th>
        <th class="col">Non Sellable</th>
        <th class="col">Time Off</th>
        <th class="col">Non Billable</th>
        <th class="col">Actual Hours Sold</th>
        <th class="col text-right">Health</th>
      </tr>
    </thead>
    <tbody>
      <% period["utilization"].each_with_index do |tuple, index| %>
        <% email, d = tuple %>
        <% total_billable = (d["billable"].values.map(&:to_f).reduce(&:+) || 0).round(2) %>

        <tr class="<%= index.even? ? "even" : "odd" %>">
          <td class="col">
            <%= email %>
          </td>
          <td class="col">
            <%= d["sellable"].to_f.round(2) %>
          </td>
          <td class="col">
            <%= d["non_sellable"].to_f.round(2) %>
          </td>
          <td class="col">
            <%= d["time_off"].to_f.round(2) %>
          </td>
          <td class="col">
            <%= d["non_billable"].to_f.round(2) %>
          </td>
          <td class="col">
            <%= total_billable %>
          </td>
          <td class="col text-right">
            <% surplus = (total_billable - d["sellable"].to_f).round(2) %>
            <% extreme = surplus.abs > 20 %>
            <% health = surplus >= 0 ? (extreme ? :exceptional : :healthy) : (extreme ? :failing : :at_risk) %>
            <span class="pill <%= health %>" style="margin-right: 6px;">
              <%= health.to_s.humanize %>
              <span class="split natural">
                <% if surplus >= 0 %>+<% else %>-<% end %>
                <%= surplus.abs %>
              </span>
            </span>
          </td>
        </tr>
      <% end %>

      <% total_sellable = period["utilization"].values.reduce(0){|acc, d| acc += d["sellable"].to_f} %>
      <% total_non_sellable = period["utilization"].values.reduce(0){|acc, d| acc += d["non_sellable"].to_f} %>
      <% total_time_off = period["utilization"].values.reduce(0){|acc, d| acc += d["time_off"].to_f} %>
      <% total_non_billable = period["utilization"].values.reduce(0){|acc, d| acc += d["non_billable"].to_f} %>
      <% total_billable = period["utilization"].values.reduce(0){|acc, d| acc += (d["billable"].values.map(&:to_f).reduce(&:+) || 0)} %>

      <tr class="odd">
        <td class="col">
          <strong>Total</strong>
        </td>
        <td class="col">
          <%= total_sellable.round(2) %>
        </td>
        <td class="col">
          <%= total_non_sellable.round(2) %>
        </td>
        <td class="col">
          <%= total_time_off.round(2) %>
        </td>
        <td class="col">
          <%= total_non_billable.round(2) %>
        </td>
        <td class="col">
          <%= total_billable.round(2) %>
        </td>
        <td class="col text-right">
          <%= total_sellable == 0 ? 0 : ((total_billable / total_sellable) * 100).round(2) %>%
        </td>
      </tr>

    </tbody>
  </table>
<% end %>
