<% scenario = profit_share_pass.make_scenario(
  params["gross_revenue_override"],
  params["gross_payroll_override"],
  params["gross_benefits_override"],
  params["gross_expenses_override"],
  params["gross_subcontractors_override"],
) %>

<% total_reinvestment_spend = profit_share_pass.total_reinvestment_spend %>
<% is_projection = profit_share_pass.is_projection? %>

<% if is_projection %>
  <p class="nag warning sticky" style="margin-bottom: 20px;margin-right:10px;">
    ⚠️ <strong>This is a projection. Please expect these numbers to fluctuate (wildly).</strong>
  </p>
<% else %>
  <p class="nag" style="margin-bottom: 20px;margin-right:10px;">
    ✅ This profit share pass was finalized <%= profit_share_pass.finalized_at.strftime("#{profit_share_pass.finalized_at.day.ordinalize} %B %Y") %>.
  </p>
<% end %>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Description</p>
    </div>

    <div class="module-body">
      <%= sanitize RDiscount.new(profit_share_pass.description || "").to_html %>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h2><%= number_to_currency(profit_share_pass.prespent_profit_share) %></h2>
        <%= link_to "Prespent Profit Share ↗", admin_admin_users_path %>
      </div>
    </div>
  </div>
  <div class="dashboard-module">
    <div class="module-body factoid-parent">
      <div class="factoid">
        <h2><%= number_to_currency(total_reinvestment_spend) %></h2>
        <%= link_to "Spent under Reinvestment Studios ↗", admin_studios_path(scope: :reinvestment) %>
      </div>
    </div>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom:20px;table-layout:fixed;">
  <thead>
    <tr>
      <th class="col">
        Reinvestment Studio
      </th>
      <th class="col text-right">
        Reinvestment Spend
      </th>
    </tr>
  </thead>

  <tbody>
    <% profit_share_pass.net_revenue_by_reinvestment_studio("cash").each_with_index do |tuple, index| %>
      <% studio, data = tuple %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <%= link_to "#{studio.name} ↗", admin_studio_path(studio) %>
        </td>
        <td class="col text-right">
          <% if data[:net_revenue].present? %>
            <% if data[:net_revenue] < 0 %>
              <%= number_to_currency data[:net_revenue].abs %>
            <% else %>
              Broke Even
            <% end %>
          <% else %>
            Unknown
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr class="odd">
      <td class="col">
        <strong>Pre-spent Reinvestment Total</strong>
      </td>
      <td class="col text-right">
        <%= number_to_currency total_reinvestment_spend %>
      </td>
    </tr>
  </tbody>
</table>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p><%= is_projection ? "(Projected) " : "" %>Yearly Actuals</p>
    </div>

    <div class="module-body">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
        <tbody>
          <tr class="odd">
            <td class="col">Gross Revenue</td>
            <td class="col">
              <%= number_to_currency(scenario.actuals[:gross_revenue]) %>
            </td>
            <td class="col text-right">
              $<%= text_field_tag 'gross_revenue_override', params["gross_revenue_override"], disabled: !is_projection, placeholder: "Revenue Override", type: "number" %>
            </td>
          </tr>
          <tr class="even">
            <td class="col">Gross Payroll</td>
            <td class="col">
              -<%= number_to_currency(scenario.actuals[:gross_payroll]) %>
            </td>
            <td class="col text-right">
              $<%= text_field_tag 'gross_payroll_override', params["gross_payroll_override"], disabled: !is_projection, placeholder: "Payroll Override", type: "number" %>
            </td>
          </tr>
          <tr class="odd">
            <td class="col">Gross Benefits & Taxes</td>
            <td class="col">
              -<%= number_to_currency(scenario.actuals[:gross_benefits]) %>
            </td>
            <td class="col text-right">
              $<%= text_field_tag 'gross_benefits_override', params["gross_benefits_override"], disabled: !is_projection, placeholder: "Benefits Override", type: "number" %>
            </td>
          </tr>
          <tr class="even">
            <td class="col">Gross Expenses</td>
            <td class="col">
              -<%= number_to_currency(scenario.actuals[:gross_expenses]) %>
            </td>
            <td class="col text-right">
              $<%= text_field_tag 'gross_expenses_override', params["gross_expenses_override"], disabled: !is_projection, placeholder: "Expenses Override", type: "number" %>
            </td>
          </tr>
          <tr class="odd">
            <td class="col">Gross Subcontractors</td>
            <td class="col">
              -<%= number_to_currency(scenario.actuals[:gross_subcontractors]) %>
            </td>
            <td class="col text-right">
              $<%= text_field_tag 'gross_subcontractors_override', params["gross_subcontractors_override"], disabled: !is_projection, placeholder: "Subcontractors Override", type: "number" %>
            </td>
          </tr>
          <tr class="even">
            <td class="col">Pre-spent Profit Share</td>
            <td class="col">
              +<%= number_to_currency(scenario.pre_spent) %>
            </td>
            <td></td>
          </tr>
          <tr class="odd">
            <td class="col">Pre-spent Reinvestment</td>
            <td class="col">
              +<%= number_to_currency(scenario.pre_spent_reinvestment) %>
            </td>
            <td></td>
          </tr>
          <tr class="even">
            <td class="col"><strong>Effective Profit (before pre-spending)</strong></td>
            <td class="col">
              <strong><%= number_to_currency(scenario.total_profit) %></strong>
            </td>
            <td class="col text-right">
              <form>
                <%= button_tag 'Apply Overrides', class: 'apply_overrides', type: 'submit', disabled: !is_projection %>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Inputs</p>
    </div>

    <div class="module-body">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
        <tbody>
          <tr class="odd">
            <td class="col">Latest Monthly Cost of Doing Business</td>
            <td class="col">
              <%= number_to_currency(scenario.projected_monthly_cost_of_doing_business) %>
            </td>
          </tr>
          <tr class="even">
            <td class="col">Payroll Buffer Months</td>
            <td class="col">
              <%= scenario.desired_buffer_months %>
            </td>
          </tr>
          <tr class="odd">
            <td class="col">Efficiency Cap</td>
            <td class="col">
              <%= scenario.efficiency_cap %>
            </td>
          </tr>
          <tr class="even">
            <td class="col">Corporate Tax Rate</td>
            <td class="col">
              <%= Stacks::ProfitShare::Scenario::TAX_RATE %>
            </td>
          </tr>
          <tr class="odd">
            <td class="col">FICA Tax Rate</td>
            <td class="col">
              <%= scenario.fica_tax_rate %>
            </td>
          </tr>
          <tr class="even">
            <td class="col">Internals Budget Multiplier</td>
            <td class="col">
              <%= scenario.internals_budget_multiplier %>
            </td>
          </tr>
          <tr class="odd">
            <td class="col">Total PSU Issued</td>
            <td class="col">
              <%= scenario.total_psu_issued.round(2) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p><%= is_projection ? "(Projected) " : "" %>Allowances & Calculated Metrics</p>
    </div>

    <div class="module-body">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
        <tbody>
          <tr class="odd">
            <td class="col">Studio Efficiency</td>
            <td class="col">
              <%= "#{scenario.efficiency.round(4) * 100}%" %>
            </td>
          </tr>
          <tr class="even">
            <td class="col">Payroll Buffer (with Tax) for New Year</td>
            <td class="col">
              <%= number_to_currency(scenario.allowances[:buffer]) %>
            </td>
          </tr>
          <tr class="odd">
            <td class="col">Internals + Reinvestment Fund</td>
            <td class="col">
            <%= number_to_currency(scenario.allowances[:internals_budget]) %> & <%= number_to_currency(scenario.allowances[:reinvestment_budget]) %> (<%= number_to_currency(total_reinvestment_spend) %> already spent)
            </td>
          </tr>
          <tr class="even">
            <td class="col">Gross Profit Share Pool</td>
            <td class="col">
              <%= number_to_currency(scenario.allowances[:pool]) %>
            </td>
          </tr>
          <tr class="odd">
            <td class="col">FICA Withholding</td>
            <td class="col">
              <%= number_to_currency(scenario.allowances[:fica_withholding]) %>
            </td>
          </tr>
          <tr class="even">
            <td class="col">Profit Share Pool after FICA</td>
            <td class="col">
              <%= number_to_currency(scenario.allowances[:pool_after_fica_withholding]) %>
            </td>
          </tr>
          <tr class="odd">
            <td class="col"><strong>Value per PSU</strong></td>
            <td class="col">
              <%= number_to_currency(scenario.actual_value_per_psu) %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index mb2">
  <thead>
    <tr>
      <th class="col">Datapoint</th>
      <th class="col text-center">Target</th>
      <th class="col text-center">Actual</th>
      <th class="col text-right">Awarded PSU</th>
    </tr>
  </thead>
  <tbody>
    <% profit_share_pass.leadership_psu_pool["collective_okrs"].each_with_index do |dp, index| %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <%= dp["datapoint"].to_s.humanize %>
        </td>
        <td class="col text-center">
          <%= dp.dig("okr", "target").to_f.round(2) %> (±<%= dp.dig("okr", "tolerance").to_f.round(2) %>)
        </td>
        <td class="col text-center">
          <%= dp.dig("okr", "value").to_f.round(2) %>
        </td>
        <td class="col text-right">
          <%= dp.dig("awarded_psu").to_f.round(2) %>
        </td>
      </tr>
    <% end %>
    <tr class="odd">
      <td class="col">
        <strong>Total Leadership PSU</strong>
      </td>
      <td></td>
      <td></td>
      <td class="col text-right">
        <%= profit_share_pass.leadership_psu_pool["total_awarded"].round(2) %> of <%= profit_share_pass.leadership_psu_pool_cap %>
      </td>
    </tr>
  </tbody>
</table>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🤝 Payments</h2>
  </div>
</div>
<table border="0" cellspacing="0" cellpadding="0" class="index_table index mb2">
  <thead>
    <tr>
      <th class="col">Profit Shares</th>
      <th class="col text-center">Tenured PSU</th>
      <th class="col text-center">Project Leadership PSU</th>
      <th class="col text-center">Collective Leadership PSU</th>
      <th class="col text-center">Total PSU</th>
      <th class="col text-center">Value</th>
      <th class="col text-center">Pre-spent</th>
      <th class="col text-right">Payout</th>
    </tr>
  </thead>
  <tbody>
    <% profit_share_pass.payments(scenario).each_with_index do |share, index| %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <td class="col">
          <%= share[:admin_user].email %>
        </td>
        <td class="col text-center">
          <%= share[:psu_earnt].round(2) %>
          <%= link_to "Explore ↗", admin_admin_user_admin_user_psu_explorer_path(share[:admin_user], { psu_type: "tenure" }) %>
        </td>
        <td class="col text-center">
          <%= share[:project_leadership_psu_earnt].round(2) || 'N/A' %>
          <%= link_to "Explore ↗", admin_admin_user_admin_user_psu_explorer_path(share[:admin_user], { psu_type: "project_leadership", year: Date.today.year == profit_share_pass.created_at.year ? "YTD" : profit_share_pass.created_at.year }) %>
        </td>
        <td class="col text-center">
          <%= share[:collective_leadership_psu_earnt].round(2) || 'N/A' %>
          <%= link_to "Explore ↗", admin_admin_user_admin_user_psu_explorer_path(share[:admin_user], { psu_type: "collective_leadership", year: Date.today.year == profit_share_pass.created_at.year ? "YTD" : profit_share_pass.created_at.year }) %>
        </td>
        <td class="col text-center">
          <%= [
            share[:psu_earnt],
            share[:project_leadership_psu_earnt] || 0,
            share[:collective_leadership_psu_earnt] || 0
          ].sum.round(2) %>
        </td>
        <td class="col text-center">
          <%= number_to_currency(share[:psu_value]) %>
        </td>
        <td class="col text-center">
          <%= number_to_currency(share[:pre_spent_profit_share]) %>
        </td>
        <td class="col text-right">
          <%= number_to_currency(share[:total_payout]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
var button = document.querySelector('button.apply_overrides')
if (button) {
  button.addEventListener('click', function(e) {
    e.preventDefault();
    var searchParams = new URLSearchParams(window.location.search);

    document.querySelectorAll('input').forEach(function(e) {
      if (e.value) {
        searchParams.set(e.name, e.value);
      } else {
        searchParams.delete(e.name);
      }
    });

    window.location.search = searchParams.toString();
  })
}
</script>