<% current_gradation = params["gradation"] || default_gradation %>
<% current_gradation = default_gradation unless all_gradations.include?(current_gradation) %>
<% all_gradations.each do |gradation| %>
  <a href="?gradation=<%= gradation %>" style="margin-right: 6px">
    <p class="nag pill <%= current_gradation == gradation ? "complete" : "" %>" style="margin-bottom: 0px;margin-right: 6px;">
      By <%= gradation.capitalize %>
    </p>
  </a>
<% end %>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">💸 Profitability</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Profitability</p>
    </div>
    <div class="module-body">
      <canvas id="studio-profitability"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">📊 Economics</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Economics</p>
    </div>
    <div class="module-body">
      <canvas id="studio-economics"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">⌛ Utilization</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Utilization</p>
    </div>
    <div class="module-body">
      <canvas id="studio-utilization"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">👋 People</h2>
  </div>
</div>

<table border="0" cellspacing="0" cellpadding="0" class="index_table index">
  <thead>
    <tr>
      <th class="col">Person</th>
    </tr>
  </thead>
  <tbody>
    <% studio_people.each_with_index do |tuple, index| %>
      <tr class="<%= index.even? ? "even" : "odd" %>">
        <% if tuple[0].admin_user.present? %>
          <td class="col">
            <%= link_to tuple[0].email, admin_admin_user_path(tuple[0].admin_user) %>
          </td>
        <% else %>
          <td class="col">
            <%= tuple[0].email %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  new Chart(document.getElementById('studio-profitability'), {
    type: 'bar',
    data: <%= studio_profitability_data.to_json.html_safe %>,
    options: {
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  });

  new Chart(document.getElementById('studio-economics'), {
    type: 'bar',
    data: <%= studio_economics_data.to_json.html_safe %>,
    options: {
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
      }
    }
  });

  new Chart(document.getElementById('studio-utilization'), {
    type: 'line',
    data: <%= studio_utilization_data.to_json.html_safe %>,
    options: {
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        },
        y2: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  })
</script>
