<% current_gradation = params["gradation"] || default_gradation %>
<% current_gradation = default_gradation unless all_gradations.include?(current_gradation) %>
<% all_gradations.each do |gradation| %>
  <a href="?gradation=<%= gradation %>" style="margin-right: 6px">
    <p class="nag pill <%= current_gradation == gradation ? "complete" : "" %>" style="margin-bottom: 0px;margin-right: 6px;">
      By <%= gradation.capitalize %>
    </p>
  </a>
<% end %>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🤝 OKRs</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio OKRs</p>
    </div>
    <div class="module-body">

<style>
table.info {
  position: absolute;
  width: auto;
  background-color: white;
}

table.right-scrolling {
  padding-left: 250px;
  display: block;
  overflow: scroll;
}
table tr, table th {
  white-space: nowrap;
}
table tr.invert {
	display: table-cell;
}
table tr.invert td {
	display: block;
}
</style>
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index info">
        <thead>
          <tr>
            <th class="col">OKR Name</th>
          </tr>
        </thead>
        <tbody>
          <tr class="invert">
            <% okrs_encountered.each do |okr| %>
              <td class="col"><%= okr.name %></td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <table border="0" cellspacing="0" cellpadding="0" class="index_table index right-scrolling">
        <thead>
          <tr>
            <% okrs_for_periods.keys.reverse.each do |period| %>
              <th class="col"><%= period.label %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% okrs_for_periods.values.reverse.each_with_index do |okr_results, index| %>
            <tr class="<%= index.even? ? "even" : "odd" %> invert">
              <% okrs_encountered.each do |okr| %>
                <td class="col">
                  <% health = okr_results[okr] ? okr_results[okr][:health] : :no_okr_set %>
                  <% unit = okr_results[okr] ? okr_results[okr][:unit] : :no_unit %>
                  <% surplus = (okr_results[okr] ? okr_results[okr][:surplus] : 0).round(2) %>
                  <span class="pill <%= health %>" style="margin-right: 6px;">
                    <%= health.to_s.humanize %>
                    <% if surplus != 0 %>
                      <span class="split">
                        <% if surplus > 0 %>+<% else %>-<% end %>
                        <% if unit == :usd %>
                          <%= number_to_currency(surplus.abs) %>
                        <% elsif unit == :percentage %>
                          <%= surplus.abs %>%
                        <% else %>
                          <%= surplus.abs %>
                        <% end %>
                      </span>
                    <% end %>
                  </span>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio OKR Differentials</p>
    </div>
    <div class="module-body">
      <canvas id="studio-okrs"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">💸 Profitability</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Profitability</p>
    </div>
    <div class="module-body">
      <canvas id="studio-profitability"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">📊 Economics</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Economics</p>
    </div>
    <div class="module-body">
      <canvas id="studio-economics"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">⌛ Utilization</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Utilization</p>
    </div>
    <div class="module-body">
      <canvas id="studio-utilization"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🤝 New Biz</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>New Biz</p>
    </div>
    <div class="module-body">
      <canvas id="studio-new-biz"></canvas>
    </div>
  </div>
</div>

<script>
  new Chart(document.getElementById('studio-okrs'), {
    type: 'bar',
    data: <%= studio_okr_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      plugins: {
        tooltip: {
          callbacks: {
            footer: (tooltipItems) => {
              if (tooltipItems.every(t => t.parsed.y > 0)) return "Healthy";
              if (tooltipItems.some(t => t.parsed.y > 0)) return "Mixed Health";
              return "Unhealthy";
            },
          }
        }
      },
      scales: {
        yPercentage: {
          type: 'linear',
          position: 'right',
          max: 15,
          min: -15,
        },
        yUSD: {
          type: 'linear',
          position: 'left',
          max: 15,
          min: -15,
        }
      }
    }
  })

  new Chart(document.getElementById('studio-profitability'), {
    type: 'bar',
    data: <%= studio_profitability_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  });

  new Chart(document.getElementById('studio-economics'), {
    type: 'bar',
    data: <%= studio_economics_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
      }
    }
  });

  new Chart(document.getElementById('studio-new-biz'), {
    type: 'bar',
    data: <%= studio_new_biz_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
      }
    }
  });

  new Chart(document.getElementById('studio-utilization'), {
    type: 'line',
    data: <%= studio_utilization_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        },
        y2: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  })
</script>
