<% current_gradation = params["gradation"] || default_gradation %>
<% current_gradation = default_gradation unless all_gradations.include?(current_gradation) %>
<% all_gradations.each do |gradation| %>
  <a href="?gradation=<%= gradation %>" style="margin-right: 6px">
    <p class="nag pill <%= current_gradation == gradation ? "complete" : "" %>" style="margin-bottom: 0px;margin-right: 6px;">
      By <%= gradation.capitalize %>
    </p>
  </a>
<% end %>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🤝 OKRs</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio OKR Differentials</p>
    </div>
    <div class="module-body">
      <canvas id="studio-okrs"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">💸 Profitability</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Profitability</p>
    </div>
    <div class="module-body">
      <canvas id="studio-profitability"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">📊 Economics</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Economics</p>
    </div>
    <div class="module-body">
      <canvas id="studio-economics"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">⌛ Utilization</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Utilization</p>
    </div>
    <div class="module-body">
      <canvas id="studio-utilization"></canvas>
    </div>
  </div>
</div>

<script>
  new Chart(document.getElementById('studio-okrs'), {
    type: 'bar',
    data: <%= studio_okr_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      plugins: {
        tooltip: {
          callbacks: {
            footer: (tooltipItems) => {
              if (tooltipItems.every(t => t.parsed.y > 0)) return "Healthy";
              if (tooltipItems.some(t => t.parsed.y > 0)) return "Mixed Health";
              return "Unhealthy";
            },
          }
        }
      },
      scales: {
        yPercentage: {
          type: 'linear',
          position: 'right',
          max: 15,
          min: -15,
        },
        yUSD: {
          type: 'linear',
          position: 'left',
          max: 15,
          min: -15,
        }
      }
    }
  })

  new Chart(document.getElementById('studio-profitability'), {
    type: 'bar',
    data: <%= studio_profitability_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  });

  new Chart(document.getElementById('studio-economics'), {
    type: 'bar',
    data: <%= studio_economics_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
      }
    }
  });

  new Chart(document.getElementById('studio-utilization'), {
    type: 'line',
    data: <%= studio_utilization_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        },
        y2: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  })
</script>
