<% current_gradation = params["gradation"] || default_gradation %>
<% current_gradation = default_gradation unless all_gradations.include?(current_gradation) %>
<% accounting_method = session[:accounting_method] || "cash" %>
<% all_gradations.each do |gradation| %>
  <a href="?gradation=<%= gradation %>" style="margin-right: 6px">
    <p class="nag pill <%= current_gradation == gradation ? "complete" : "" %>" style="margin-bottom: 0px;margin-right: 6px;">
      By <%= gradation.humanize %>
    </p>
  </a>
<% end %>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🤝 OKRs</h2>
  </div>
</div>

<a href="https://www.notion.so/garden3d/The-Operating-Modes-of-garden3d-6eefbe5c5f5c463bb5e4679f977a46fa" target="_blank">
  <p class="pill nag <%= resource.health.dig("health") %>" style="margin-bottom: 20px;margin-right: 6px;">
      <strong><%= resource.health.dig("value") %></strong>
  </p>
</a>

<a href="https://www.notion.so/garden3d/How-to-optimize-our-OKRs-82d1d26d9c0947fd962fd5f8b22be5c6" target="_blank">
  <p class="nag" style="margin-bottom: 20px;margin-right: 6px;">
    🤔 Learn to understand and optimize OKRs ↗
  </p>
</a>

<a href="https://www.notion.so/garden3d/How-to-optimize-our-OKRs-82d1d26d9c0947fd962fd5f8b22be5c6?pvs=4#a1941d190b16436bb54be7d618000ae1" target="_blank">
  <p class="nag">
    <strong>
      ⚠️ OKRs are prone to shifting a little.
    </strong>
  </p>
</a>

<style>
  table.info {
    position: absolute;
    width: auto;
    background-color: white;
    z-index: 1;
  }
  table.right-scrolling {
    padding-left: 254px;
    display: block;
    overflow: scroll;
  }
  table tr, table th {
    white-space: nowrap;
  }
  table th a, table th a:visited, table th a:link {
    color: #1F78FF !important;
  }
  table th {
    cursor: pointer;
  }
  table th:hover {
    box-shadow: inset 0px 0px 14px 6px #0000001f;;
  }
  table th div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  table th div .comment-notifier {
    box-shadow: 1px 1px 3px 1px #0000001f;
    background-color: #FF160A;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    justify-content: center;
    border-radius: 999px;
  }
  table tr.invert {
    display: table-cell;
  }
  table tr.invert td {
    display: flex;
    align-items: center;
    min-height: 95px;
  }
  table.right-scrolling .pill {
    position: relative;
  }
  table.right-scrolling .pill:hover .tooltip {
    display:inline;
  }
  table.right-scrolling .pill:hover .natural {
    display:none;
  }
  table.right-scrolling .pill .tooltip {
    display: none;
  }
  table.right-scrolling td {
    min-height: 95px;
  }
</style>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio OKRs</p>
      <% if @studio.snapshot["generated_at"].present? %>
        <p>Last generated <%= time_ago_in_words(DateTime.iso8601(@studio.snapshot["generated_at"])) %> ago</p>
      <% end %>
    </div>
    <div class="module-body">
      <table border="0" cellspacing="0" cellpadding="0" class="index_table index info">
        <thead>
          <tr>
            <th class="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr class="invert">
            <% all_okrs.each do |okr| %>
              <td class="col">
                <%= link_to okr[:name] + " ↗", admin_studio_okr_explorer_path(resource, { gradation: current_gradation, okr: okr[:datapoint] }) %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>

      <table border="0" cellspacing="0" cellpadding="0" class="index_table index right-scrolling">
        <thead>
          <tr>
            <% snapshot.reverse.each do |d| %>
              <th class="col" data-commentable="<%= d["label"] %>">
                <div>
                  <%= d["label"] %>
                  <% count = comments.count{|c| c.namespace == d["label"]} %>
                  <% if count > 0 %>
                    <div class="comment-notifier"><%= count %></div>
                  <% end %>
                  <%= link_to "P&L ↗", "https://app.qbo.intuit.com/app/reportv2?token=PANDL&show_logo=false&date_macro=custom&low_date=#{d["period_starts_at"]}&high_date=#{d["period_ends_at"]}&column=total&showrows=active&showcols=active&subcol_pp=&subcol_pp_chg=&subcol_pp_pct_chg=&subcol_py=&subcol_py_chg=&subcol_py_pct_chg=&subcol_py_ytd=&subcol_ytd=&subcol_pct_ytd=&subcol_pct_row=&subcol_pct_col=&subcol_pct_inc=false&subcol_pct_exp=false&cash_basis=#{accounting_method == "cash" ? "yes" : "no"}&customized=yes&collapsed_rows=&edited_sections=false&divideby1000=false&hidecents=false&exceptzeros=true&adjusted_gain_loss=true&negativenums=1&negativered=false&show_header_title=true&show_header_range=true&show_footer_custom_message=true&show_footer_date=true&show_footer_time=true&show_footer_basis=true&header_alignment=Center&footer_alignment=Center&show_header_company=true&company_name=Sanctuary%20Computer%20Inc&collapse_subs=false&title=Profit%20and%20Loss&footer_custom_message=", target: "_blank", style: "display:inline-block;float:right;" %>
                </div>
              </th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% snapshot.reverse.each_with_index do |d, index| %>
            <tr class="<%= index.even? ? "even" : "odd" %> invert">
              <% all_okrs.each do |okr| %>
                <td class="col">
                  <% okr_results = d[accounting_method]["okrs"][okr[:name]] || {} %>
                  <% value = okr_results.dig("value").to_f  %>
                  <% target = (okr_results.dig("target").try(:to_f) || 0).round(2) %>
                  <% health = okr_results.dig("health")  %>
                  <% unit = okr_results.dig("unit") %>
                  <% surplus = (okr_results.dig("surplus") || 0).to_f.round(2) %>
                  <% hint = (okr_results.dig("hint") || "No hint given") %>

                  <div>
                    <span class="pill <%= health %>" style="margin-right: 6px;">

                      <% if surplus != 0 %>
                        <span class="split">
                          <% if unit == "usd" %>
                            <strong style="font-size: 15px"><%= number_to_currency(value.round(2)) %></strong> (target: <%= number_to_currency(target) %>)
                          <% elsif unit == "percentage" %>
                            <strong style="font-size: 15px"><%= value.round(2) %>%</strong> (target: <%= target.round(2) %>%)
                          <% elsif unit == "display" %>
                            <strong style="font-size: 15px"><%= okr_results.dig("value") %></strong>
                          <% else %>
                            <strong style="font-size: 15px"><%= value.round(2) %></strong> (target: <%= target.round(2) %>)
                          <% end %>
                        </span>
                      <% end %>
                    </span>
                    <p class="okr_hint"><%= sanitize hint, attributes: ["href", "target"] %></p>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">💸 Profitability</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Profitability</p>
    </div>
    <div class="module-body">
      <canvas id="studio-profitability"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">📈 Growth</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Growth</p>
    </div>
    <div class="module-body">
      <canvas id="studio-growth"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">📊 Economics</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Economics</p>
    </div>
    <div class="module-body">
      <canvas id="studio-economics"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">⌛ Utilization</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <%= link_to "Utilization Explorer ↗", admin_studio_okr_explorer_path(resource, { gradation: current_gradation, okr: "sellable_hours_sold" }) %>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Utilization</p>
    </div>
    <div class="module-body">
      <canvas id="studio-utilization"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🤝 New Biz</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <%= link_to "New Biz Explorer ↗", admin_studio_new_biz_explorer_path(resource, { gradation: current_gradation }) %>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>New Biz</p>
    </div>
    <div class="module-body">
      <canvas id="studio-new-biz"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">📡 Following</h2>
  </div>
  <div id="titlebar_right">
    <div class="action_items">
      <%= link_to "Mailing Lists ↗", admin_studio_mailing_lists_path(resource) %>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Social</p>
    </div>
    <div class="module-body">
      <canvas id="social-properties"></canvas>
    </div>
  </div>
</div>

<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🤡 Talent Pool</h2>
  </div>
</div>

<% if studio_senior_ratio_data[:total] > 0 %>
  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module" style="min-height: 240px">
      <div class="module-body factoid-parent">
        <div class="factoid">
          <h2><%= ((studio_senior_ratio_data[:senior].to_f / studio_senior_ratio_data[:total]) * 100).round %>%</h2>
          <p>Team members at S1 or above</p>
        </div>
      </div>
    </div>

    <div class="dashboard-module">
      <div class="module-body factoid-parent">
        <div class="factoid">
          <h2><%= studio_senior_ratio_data[:total] %></h2>
          <p>Total team members, active today</p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Current Skill Levels in this Studio</p>
    </div>
    <div class="module-body">
      <canvas id="studio-talent-pool"></canvas>
    </div>
  </div>
</div>


<div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
  <div id="titlebar_left">
    <h2 id="page_title">🥲 Attrition</h2>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Studio Members leaving with DEI Demographic Breakdowns</p>
    </div>
    <div class="module-body">
      <canvas id="studio-attrition"></canvas>
    </div>
  </div>
</div>

<div class="full-screen-modal hidden">
  <div class="full-screen-modal__contents">
    <div class="full-screen-modal__contents__title">
      <p style="margin-bottom:10px;"><%= resource.name %> · <span>[NAMESPACE]</span></p>
      <hr />
    </div>
    <div class="full-screen-modal__contents__body"></div>
    <form class="full-screen-modal__comment-box">
      <textarea id="comment" name="comment"></textarea>
      <button>Submit</button>
    </form>
  </div>
</div>

<script>
  function insertComment(modalEl, data) {
    const parent = modalEl.querySelector('.full-screen-modal__contents__body');
    const existing = parent.querySelector(`[data-comment-id="${data.id}"]`);
    if (existing) return;
    const dom = `
<div class="clearfix" data-comment-id="${data.id}">
  <div class="comment ${data.author.is_self ? 'own' : ''}">
    <img class="comment-avatar" src="${data.author.avatar}" />
    <div class="comment-body">
      <p><strong>${data.author.name}</strong> ${data.time_ago_in_words}</p>
      <p>${data.body}</p>
      ${data.author.is_self ? '<p class="comment-delete">Delete</p>' : ""}
    </div>
  </div>
</div>
`;
    parent.insertAdjacentHTML('afterbegin', dom);
    const newEl = parent.querySelector(`[data-comment-id="${data.id}"]`);
    const deleteButton = newEl.querySelector('.comment-delete');
    if (!deleteButton) return;

    deleteButton.addEventListener('click', async  function() {
      const shouldDelete = confirm("Are you sure you want to delete this comment?");
      if (!shouldDelete) return;
      const csrfToken = document.querySelector("[name='csrf-token']").content;      
      const response = await fetch(`${window.location.pathname}/comments`, {
        method: 'DELETE',
        headers: {
          'X-CSRF-Token': csrfToken,
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          comment_id: data.id
        })
      });
      parent.removeChild(newEl);
    });
  }

  async function openFullScreenModal(modalEl, namespace) {
    modalEl.querySelector('form.full-screen-modal__comment-box').dataset.namespace = namespace;
    modalEl.querySelector('.full-screen-modal__contents__title span').innerHTML = namespace;

    // Remove old comments
    const parent = modalEl.querySelector('.full-screen-modal__contents__body');
    parent.querySelectorAll('.clearfix').forEach(e => {
      parent.removeChild(e);
    });

    // Show Modal
    modalEl.classList.remove('hidden');

    // Load Comments
    const response = await fetch(`${window.location.pathname}/comments?namespace=${namespace}`, {
      method: 'GET',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      }
    })
    const data = await response.json();
    data.data.forEach(d => {
      insertComment(modalEl, d);
    });
  }

  function closeFullScreenModal(modalEl) {
    modalEl.dataset.namespace = null;
    const parent = modalEl.querySelector('.full-screen-modal__contents__body');
    parent.querySelectorAll('.clearfix').forEach(e => {
      parent.removeChild(e);
    });
    modalEl.classList.add('hidden');
  }

  document.querySelectorAll('.full-screen-modal').forEach(e => {
    e.addEventListener("click", function(event) {
      if (event.target !== this) return;
      closeFullScreenModal(this);
    });
  });

  document.querySelectorAll('form.full-screen-modal__comment-box').forEach(e => {
    e.addEventListener("submit", async function(event) {
      event.preventDefault();

      const csrfToken = document.querySelector("[name='csrf-token']").content;      
      const response = await fetch(`${window.location.pathname}/comments`, {
        method: 'POST',
        headers: {
          'X-CSRF-Token': csrfToken,
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          namespace: event.target.dataset.namespace, 
          body: event.target.querySelector('textarea').value
        })
      });
      event.target.querySelector('textarea').value = "";
      const data = await response.json();
      const modalEl = e.closest(".full-screen-modal");
      
      insertComment(modalEl, data.data);
    });
  });

  document.querySelectorAll('[data-commentable]').forEach(e => {
    e.addEventListener("click", function(event) {
      const commentableEl = event.target.closest("[data-commentable]");
      openFullScreenModal(
        document.querySelector('.full-screen-modal'),
        commentableEl.dataset.commentable
      );
    });
  });
</script>

<script>
  luxon.Settings.defaultLocale = "en";
  new Chart(document.getElementById('social-properties'), <%= social_properties_data.to_json.html_safe %>);

  new Chart(document.getElementById('studio-profitability'), {
    type: 'bar',
    data: <%= studio_profitability_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true,
          min: 0,
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          max: 100,
          min: 0,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  });

  new Chart(document.getElementById('studio-growth'), {
    type: 'bar',
    data: <%= studio_growth_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true,
          min: 0,
        },
      }
    }
  });

  new Chart(document.getElementById('studio-economics'), {
    type: 'bar',
    data: <%= studio_economics_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true,
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          max: 100,
          min: 0,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  });

  new Chart(document.getElementById('studio-new-biz'), {
    type: 'bar',
    data: <%= studio_new_biz_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        },
      }
    }
  });

  new Chart(document.getElementById('studio-talent-pool'), {
    type: 'bar',
    data: <%= studio_talent_pool_data.to_json.html_safe %>,
    options: {
      plugins: {
        legend: {
          display: false
        },
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true,
          ticks: {
            stepSize: 1
          }
        },
      }
    }
  });

  new Chart(document.getElementById('studio-attrition'), {
    type: 'bar',
    data: <%= studio_attrition_data.to_json.html_safe %>,
    options: {
      plugins: {
        legend: {
          display: false
        },
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true,
          ticks: {
            stepSize: 1
          }
        },
      }
    }
  });

  new Chart(document.getElementById('studio-utilization'), {
    type: 'line',
    data: <%= studio_utilization_data.to_json.html_safe %>,
    options: {
      interaction: {
        intersect: false,
        mode: 'index',
      },
      tension: 0.3,
      scales: {
        y: {
          type: 'linear',
          display: true,
          position: 'left',
          beginAtZero: true
        },
        y1: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        },
        y2: {
          type: 'linear',
          display: true,
          position: 'right',
          beginAtZero: true,
          stacked: true,
          grid: {
            drawOnChartArea: false, // only want the grid lines for one axis to show up
          },
        }
      }
    }
  })
</script>