<table border="0" cellspacing="0" cellpadding="0" class="index_table index">
  <tbody>
    <tr class="even">
      <td class="col">
        <strong>Balance</strong>
      </td>
      <td class="col text-right">
        <%= number_to_currency(balance[:balance]) %>
      </td>
    </tr>
    <tr class="odd">
      <td class="col">
        <strong>Unsettled</strong>
      </td>
      <td class="col text-right">
        <%= number_to_currency(balance[:unsettled]) %>
      </td>
    </tr>
  </tbody>
</table>

<% contributor.new_deal_ledger_items[:by_month].each do |period, metadata| %>
  <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
    <div id="titlebar_left">
      <h2 id="page_title"><%= period.starts_at.strftime("%B %Y") %></h2>
    </div>
    <div id="titlebar_right">
      <span class="pill <%= metadata[:elevated_service] ? 'misc' : '' %>">
        <%= metadata[:elevated_service] ? 'Elevated' : 'Standard' %> Service <span class="split"><strong><%= metadata[:total_hours] %>hrs </strong><span><%= number_to_currency(metadata[:total_income]) %></span></span>
      </span>
    </div>
  </div>

  <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
    <thead>
      <tr>
        <th class="col">Date</th>
        <th class="col">Type</th>
        <th class="col">Status</th>
        <th class="col">Amount</th>
        <th class="col text-right">Details</th>
      </tr>
    </thead>
    <tbody>
      <% metadata[:items].each_with_index do |li, index| %>
        <tr class="<%= index.even? ? "even" : "odd" %>">
          <td class="col">
            <% if li.is_a?(MiscPayment) %>
              <%= li.paid_at.strftime("%B %d, %Y") %>
            <% elsif li.is_a?(ContributorPayout) %>
              <%= li.invoice_tracker.invoice_pass.start_of_month.strftime("%B %d, %Y") %>
            <% elsif li.is_a?(Trueup) %>
              <%= li.payment_date.strftime("%B %d, %Y") %>
            <% end %>
          </td>
          <td class="col">
            <span class="pill <%= li.model_name.human.downcase %>">
              <%= li.model_name.human %>
            </span>
          </td>
          <td class="col">
            <% if li.is_a?(MiscPayment) %>
              <span class="pill <%= li.deleted_at.present? ? "deleted" : "paid" %>">
                <%= li.deleted_at.present? ? "deleted" : "scheduled" %>
              </span>
            <% elsif li.is_a?(ContributorPayout) %>

              <span class="pill <%= li.invoice_tracker.contributor_payouts_status.to_s.humanize %>" style="margin-right: 6px;">
                Payout Acceptance
                <span class="split">
                  <%= li.invoice_tracker.contributor_payouts_status.to_s.humanize %>
                </span>
              </span>

              <% status = li.invoice_tracker.status == :paid ? :paid : li.invoice_tracker.allow_early_contributor_payouts_on.present? && li.invoice_tracker.allow_early_contributor_payouts_on <= Date.today ? :early_payouts_approved : li.invoice_tracker.status %>
              <span class="pill <%= status %>" style="margin-right: 6px;">
                Invoice
                <span class="split">
                  <%= status.to_s.humanize %>
                </span>
              </span>
            <% elsif li.is_a?(Trueup) %>
              <span class="pill <%= li.deleted_at.present? ? "deleted" : "paid" %>">
                <%= li.deleted_at.present? ? "deleted" : "scheduled" %>
              </span>
            <% end %>
          </td>
          <td class="col">
            <% if li.is_a?(MiscPayment) %>

              <% if li.deleted_at.present? %>
                <del><%= number_to_currency(li.amount) %></del>
              <% else %>
                - <%= number_to_currency(li.amount) %>
              <% end %>

            <% elsif li.is_a?(ContributorPayout) %>
              <% if li.deleted_at.present? %>
                <del><%= number_to_currency(li.amount) %></del>
              <% else %>
                + <%= number_to_currency(li.amount) %>
              <% end %>

              <span class="pill <%= li.accepted? ? "accepted" : "pending" %>" style="margin-right: 6px;">
                <%= li.accepted? ? "Accepted" : "Pending" %>
                <% if current_admin_user.forecast_person == li.contributor.forecast_person || current_admin_user.is_admin? %>
                <span class="split">
                    <%= link_to li.accepted? ? "Unaccept ↗" : "Accept ↗", toggle_contributor_payout_acceptance_admin_contributor_path(li.contributor, {contributor_payout_id: li.id}), method: :post, style: "font-size: unset;" %>
                  </span>
                <% end %>
              </span>

            <% elsif li.is_a?(Trueup) %>
              <% if li.deleted_at.present? %>
                <del><%= number_to_currency(li.amount) %></del>
              <% else %>
                + <%= number_to_currency(li.amount) %>
              <% end %>

            <% end %>
          </td>
          <td class="col text-right">
            <% unless li.deleted_at.present? %>
              <% if li.is_a?(MiscPayment) %>
                <%= link_to "Info ↗", admin_contributor_misc_payment_path(contributor, li) %>
              <% elsif li.is_a?(ContributorPayout) %>
                <%= link_to "Info ↗", admin_invoice_tracker_contributor_payout_path(li.invoice_tracker, li) %>
              <% elsif li.is_a?(Trueup) %>
                <%= link_to "Info ↗", admin_contributor_trueup_path(contributor, li) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
