<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Profitability (%)</p>
      <p><a href="?profitability-time-span=3-months">3 Months</a></p>
      <p><a href="?profitability-time-span=6-months">6 Months</a></p>
      <p><a href="?profitability-time-span=all-time">All Time</a></p>
    </div>
    <div class="module-body">
      <canvas id="profitability-chart" height="500"></canvas>
    </div>
  </div>
</div>

<div class="dashboard-modules table index_table index">
  <div class="dashboard-module">
    <div class="module-header">
      <p>Garden3d over Time</p>
      <p>
        <a href="?g3d=psu" class="<%= (params["g3d"] == "psu" || params["g3d"] == nil) ? "underline" : "" %>">
          PSU Value
        </a>
      </p>
      <p>
        <a href="?g3d=psp" class="<%= params["g3d"] == "psp" ? "underline" : "" %>">
          Profit Share Pool
        </a>
      </p>
      <p>
        <a href="?g3d=revenue" class="<%= params["g3d"] == "revenue" ? "underline" : "" %>">
          Revenue
        </a>
      </p>
      <p>
        <a href="?g3d=margin" class="<%= params["g3d"] == "margin" ? "underline" : "" %>">
          Profit Margin
        </a>
      </p>
    </div>
    <div class="module-body">
      <canvas id="g3d-over-time"></canvas>
    </div>
  </div>
</div>

<script>
  new Chart(document.getElementById('profitability-chart'), {
    type: 'line',
    data: <%= data.to_json.html_safe %>,
    options: {
      tension: 0.3,
      showLines: true,
      scales: {
        yAxes: {
          ticks: {
            min: -100,
            max: 100,
            stepSize: 20,
          },
          type: "linear",
          display: true,
          position: "left",
          gridLines: {
            drawOnArea: false,
          },
        }
      },
      maintainAspectRatio: false,
    }
  });
  new Chart(document.getElementById('g3d-over-time'), {
    type: 'bar',
    data: <%= g3d_over_time_data.to_json.html_safe %>,
  })
</script>
