<script>
function update(a, b) {
  var searchParams = new URLSearchParams(window.location.search);
  if (b !== '')
    searchParams.set(a, b);
  else
    searchParams.delete(a);
  window.location.search = searchParams.toString();
}
</script>

<% current_gradation = params["gradation"] || default_gradation %>
<% current_gradation = default_gradation unless all_gradations.include?(current_gradation) %>
<div style="margin-bottom: 20px">
  <% all_gradations.each do |gradation| %>
    <a onclick='update("gradation", "<%= gradation %>");' style="margin-right: 6px">
      <p class="nag pill <%= current_gradation == gradation ? "complete" : "" %>" style="margin-bottom: 0px;margin-right: 6px;">
        By <%= gradation.humanize %>
      </p>
    </a>
  <% end %>
</div>

<% current_okr = params["okr"] || default_okr %>
<% current_okr = current_okr unless all_okrs.include?(current_okr) %>
<div style="margin-bottom: 80px">
  <% all_okrs.each do |okr| %>
    <a onclick='update("okr", "<%= okr %>");' style="margin-right: 6px">
      <p class="nag pill <%= current_okr == okr ? "complete" : "" %>" style="margin-bottom: 0px;margin-right: 6px;">
        <%= okr.humanize %>
      </p>
    </a>
  <% end %>
</div>

<% unless all_okrs.include?(current_okr) %>
  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-body factoid-parent">
        <p style="margin-bottom: 6px;">🚧 This OKR does not yet have an explorer page.</p>
      <a href="https://www.notion.so/garden3d/How-to-optimize-our-OKRs-82d1d26d9c0947fd962fd5f8b22be5c6" target="_blank">
        Learn how to optimize our OKRs here ↗
      </a>
      </div>
    </div>
  </div>
<% end %>

<% if current_okr == "successful_projects" %>
  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-body factoid-parent">
        <p>🏆 <strong>Note:</strong> To calculate the % of successful projects for a given period, we include any project that recorded at least one hour for the given studio.</p>
        <p style="margin-bottom: 6px;">Projects with a completed project capsule also take into account client satisfaction.</p>
        <a href="https://www.notion.so/garden3d/Introducing-Bottom-Up-Leadership-at-garden3d-93cfbd78330245d1a14cb1ad312b0290?pvs=4#0f40265bddd740fc8a9837e69222580e" target="_blank">
          Learn about our definition of Project Success here ↗
        </a>
      </div>
    </div>
  </div>

  <% all_projects_by_period.reverse_each do |period, project_trackers| %>

    <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
      <div id="titlebar_left">
        <h2 id="page_title">
          <%= period.label %>
        </h2>
      </div>
      <div id="titlebar_right">
        <h2 id="page_title">
          <%= ((project_trackers.map(&:considered_successful?).count{|v| !!v} / project_trackers.count.to_f) * 100).round(1) %>%
        </h2>
      </div>
    </div>

    <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
      <thead>
        <tr>
          <th class="col">Project Tracker</th>
          <th class="col">Profit Margin</th>
          <th class="col">Free Hours Given</th>
          <th class="col">Client Happy?</th>
          <th class="col text-right">Considered Successful?</th>
        </tr>
      </thead>

      <tbody>
        <% project_trackers.each_with_index do |project_tracker, idx| %>
          <tr class="<%= idx.even? ? "even" : "odd" %>">
            <td class="col">
              <%= link_to "#{project_tracker.name} ↗", admin_project_tracker_path(project_tracker) %>
            </td>

            <td class="col">

              <div>
                <span><%= project_tracker.profit_margin.round(1) %>%</span>
                <p class="okr_hint" style="margin-bottom:0px;padding-top:0px !important"><%= number_to_currency(project_tracker.spend) %> earnt, <%= number_to_currency(project_tracker.estimated_cost("cash")) %> COSR</p>
              </div>

            </td>

            <td class="col">
              <% free_hours_percentage = project_tracker.free_hours_ratio * 100 %>

              <% pill_class =
                if free_hours_percentage == 0
                  "exceptional"
                elsif free_hours_percentage < 1
                  "healthy"
                elsif free_hours_percentage < 5
                  "at_risk"
                else
                  "failing"
                end %>
              <div>
                <span class="pill <%= pill_class %>">
                  <span class="split"><strong><%= project_tracker.total_hours.round(2) %> hrs,</strong> <span><%= project_tracker.total_free_hours %> free</span></span>
                </span>
                <p class="okr_hint"><%= free_hours_percentage.round(1) %>% hrs billed at $0p/h</p>
              </div>
            </td>

            <td class="col">
              <% if project_tracker.client_satisfied?.present? %>
                <% if project_tracker.client_satisfied? %>
                  <span class="status_tag yes">Yes</span>
                <% else %>
                  <span class="status_tag no">No</span>
                <% end %>
              <% else %>
                <span class="pill <%= project_tracker.work_status %>"><%= project_tracker.work_status.to_s.humanize.capitalize %></span>
              <% end %>
            </td>

            <td class="col text-right">
              <% if project_tracker.considered_successful? %>
                <span class="status_tag yes">Yes</span>
              <% else %>
                <span class="status_tag no">No</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>


<% if current_okr == "successful_proposals" %>
  <div class="dashboard-modules table index_table index">
    <div class="dashboard-module">
      <div class="module-body factoid-parent">
        <p>🏆 <strong>Note:</strong> To calculate the % of successful proposals we include any lead where the <code>Settled Date</code> is in a given period, and a <code>✨ Proposal Sent</code> timestamp is present. Leads with  <code>✨ Status: Won</code> timestamp are considered successful.</p>
        <a href="https://www.notion.so/garden3d/Introducing-Bottom-Up-Leadership-at-garden3d-93cfbd78330245d1a14cb1ad312b0290?pvs=4#0f40265bddd740fc8a9837e69222580e" target="_blank">
          Learn about our definition of Proposal Success here ↗
        </a>
      </div>
    </div>
  </div>

  <% all_proposals_by_period.reverse_each do |period, proposals| %>

    <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
      <div id="titlebar_left">
        <h2 id="page_title">
          <%= period.label %>
        </h2>
      </div>
      <div id="titlebar_right">
        <h2 id="page_title">
          <%= ((proposals.map(&:considered_successful?).count{|v| !!v} / proposals.count.to_f) * 100).round(1) %>%
        </h2>
      </div>
    </div>

    <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
      <thead>
        <tr>
          <th class="col">Lead</th>
          <th class="col">Proposal Sent At</th>
          <th class="col">Settled At</th>
          <th class="col">Won At</th>
          <th class="col text-right">Considered Successful?</th>
        </tr>
      </thead>

      <tbody>
        <% proposals.each_with_index do |proposal, idx| %>
          <tr class="<%= idx.even? ? "even" : "odd" %>">
            <td class="col">
              <a href="<%= proposal.notion_link %>" target="_blank"><%= proposal.name %> ↗</a>
            </td>

            <td class="col">
              <%= DateTime.parse(proposal.proposal_sent_at).to_date %>
            </td>
            <td class="col">
              <%= DateTime.parse(proposal.settled_at).to_date %>
            </td>
            <td class="col">
              <%= proposal.won_at ? DateTime.parse(proposal.won_at).to_date : "—" %>
            </td>

            <td class="col text-right">
              <% if proposal.considered_successful? %>
                <span class="status_tag yes">Yes</span>
              <% else %>
                <span class="status_tag no">No</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<% if current_okr == "cost_per_sellable_hour" %>

  <p class="nag" style="margin-bottom: 20px;">
    🤔 Studios are responsible for splitting global g3d expenses proportional to their sellable hours in the aggregate g3d pool.
  </p>

  <% snapshot[current_gradation].reverse.each do |period| %>
    <% has_utilization_data = !period[accounting_method]["datapoints"]["sellable_hours"]["value"].nil? %>

    <% g3d_period = g3d_snapshot[current_gradation].find{|s| s["label"] == period["label"]} %>
    <% g3d_sellable_hours = g3d_period[accounting_method]["datapoints"]["sellable_hours"]["value"].to_f %>
    <% studio_sellable_hours = period[accounting_method]["datapoints"]["sellable_hours"]["value"].to_f %>

    <% g3d_total_expenses = g3d_period[accounting_method]["datapoints"]["total_expenses"]["value"] %>
    <% g3d_specific_expenses = g3d_period[accounting_method]["datapoints"]["specific_expenses"]["value"] %>
    <% g3d_unspecified_split_expenses = g3d_period[accounting_method]["datapoints"]["unspecified_split_expenses"]["value"] %>
    <% g3d_total_internal_expense = g3d_period[accounting_method]["datapoints"]["internal_split_expenses"]["value"] %>

    <% total_expenses = period[accounting_method]["datapoints"]["total_expenses"]["value"] %>
    <% specific_expenses = period[accounting_method]["datapoints"]["specific_expenses"]["value"] %>
    <% unspecified_split_expenses = period[accounting_method]["datapoints"]["unspecified_split_expenses"]["value"] %>
    <% internal_split_expenses = period[accounting_method]["datapoints"]["internal_split_expenses"]["value"] %>

    <% studio_cogs = period[accounting_method]["datapoints"]["cogs"]["value"] %>

    <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
      <div id="titlebar_left">
        <h2 id="page_title">
          <%= period["label"] %>
        </h2>
      </div>
      <div id="titlebar_right">
        <div class="action_items">
          <%= link_to "Open P&L in Quickbooks ↗", "https://app.qbo.intuit.com/app/reportv2?token=PANDL&show_logo=false&date_macro=custom&low_date=#{period["period_starts_at"]}&high_date=#{period["period_ends_at"]}&column=total&showrows=active&showcols=active&subcol_pp=&subcol_pp_chg=&subcol_pp_pct_chg=&subcol_py=&subcol_py_chg=&subcol_py_pct_chg=&subcol_py_ytd=&subcol_ytd=&subcol_pct_ytd=&subcol_pct_row=&subcol_pct_col=&subcol_pct_inc=false&subcol_pct_exp=false&cash_basis=#{accounting_method == "cash" ? "yes" : "no"}&customized=yes&collapsed_rows=&edited_sections=false&divideby1000=false&hidecents=false&exceptzeros=true&adjusted_gain_loss=true&negativenums=1&negativered=false&show_header_title=true&show_header_range=true&show_footer_custom_message=true&show_footer_date=true&show_footer_time=true&show_footer_basis=true&header_alignment=Center&footer_alignment=Center&show_header_company=true&company_name=Sanctuary%20Computer%20Inc&collapse_subs=false&title=Profit%20and%20Loss&footer_custom_message=", target: "_blank" %>
        </div>
      </div>
    </div>

    <% if has_utilization_data %>
      <div class="dashboard-modules table index_table index">
        <div class="dashboard-module">
          <div class="module-body factoid-parent">
            <% if studio.is_garden3d? %>
              <p style="margin-bottom: 6px;">In <%= period["label"] %>, <%= studio.name %> recorded <code><%= number_to_currency(g3d_specific_expenses) %></code> studio specific expenses.</p>
              <p style="margin-bottom: 6px;">Additionally, it recorded <code><%= number_to_currency(g3d_unspecified_split_expenses) %></code> expenses without a studio.</p>
              <p>So, g3d global expenses totaled <code><%= number_to_currency(g3d_total_expenses) %></code></p>
            <% else %>
              <p style="margin-bottom: 6px;">In <%= period["label"] %>, <%= studio.name %> recorded <code><%= number_to_currency(specific_expenses) %></code> specific expenses.</p>
              <p style="margin-bottom: 6px;">Additionally, it had <code><%= studio_sellable_hours %></code> hours to sell, or <code><%= ((studio_sellable_hours / g3d_sellable_hours) * 100).round(4) %>%</code> of g3d's total sellable pool.</p>
              <p style="margin-bottom: 6px;">g3d global expenses totaled <code><%= number_to_currency(g3d_unspecified_split_expenses) %></code>, so <%= studio.name %> assumes <code><%= (studio_sellable_hours / g3d_sellable_hours).round(6) %> * <%= number_to_currency(g3d_unspecified_split_expenses) %> = <%= number_to_currency(unspecified_split_expenses) %>*</code></p>
              <p>the cost of running internal studios totaled <code><%= number_to_currency(g3d_total_internal_expense) %></code>, so <%= studio.name %> assumes <code><%= (studio_sellable_hours / g3d_sellable_hours).round(6) %> * <%= number_to_currency(g3d_total_internal_expense) %> = <%= number_to_currency(internal_split_expenses) %>*</code></p>
            <% end %>
          </div>
        </div>
      </div>

      <table border="0" cellspacing="0" cellpadding="0" class="index_table index" style="margin-bottom: 20px;">
        <thead>
          <tr>
            <th class="col">Spend Category</th>
            <th class="col text-right">Amount</th>
          </tr>
        </thead>

        <tbody>
          <tr class="odd">
            <td class="col">
              Payroll
            </td>
            <td class="col text-right">
              <%= number_to_currency(period[accounting_method]["datapoints"]["payroll"]["value"]) %>
            </td>
          </tr>

          <tr class="even">
            <td class="col">
              Benefits
            </td>
            <td class="col text-right">
              <%= number_to_currency(period[accounting_method]["datapoints"]["benefits"]["value"]) %>
            </td>
          </tr>

          <tr class="odd">
            <td class="col">
              Subcontractors
            </td>
            <td class="col text-right">
              <%= number_to_currency(period[accounting_method]["datapoints"]["subcontractors"]["value"]) %>
            </td>
          </tr>

          <tr class="even">
            <td class="col">
              Supplies & Materials
            </td>
            <td class="col text-right">
              <%= number_to_currency(period[accounting_method]["datapoints"]["supplies"]["value"]) %>
            </td>
          </tr>

          <tr class="odd">
            <td class="col">
              Total Expenses
            </td>
            <td class="col text-right">
              <%= number_to_currency(total_expenses) %>
            </td>
          </tr>

          <tr class="even">
            <td class="col">
              — Studio Specific Expenses
            </td>
            <td class="col text-right">
              <%= number_to_currency(specific_expenses) %> —
            </td>
          </tr>

          <tr class="odd">
            <td class="col">
              — Globally Split Expenses*
            </td>
            <td class="col text-right">
              <%= number_to_currency(unspecified_split_expenses) %> —
            </td>
          </tr>

          <% unless studio.is_garden3d? %>
            <tr class="even">
              <td class="col">
                — Internal Studio Split Cost*
              </td>
              <td class="col text-right">
                <%= number_to_currency(internal_split_expenses) %> —
              </td>
            </tr>
          <% end %>

          <tr class="odd">
            <td class="col">
              <strong>Total Cost of Doing Business</strong>
            </td>
            <td class="col text-right">
              <%= number_to_currency(period[accounting_method]["datapoints"]["cogs"]["value"]) %>
            </td>
          </tr>

        </tbody>
      </table>

      <% okr_results = period[accounting_method]["okrs"]["Cost per Sellable Hour"] || {} %>
      <% value = okr_results.dig("value").to_f  %>
      <% target = (okr_results.dig("target").try(:to_f) || 0).round(2) %>
      <% health = okr_results.dig("health")  %>
      <% unit = okr_results.dig("unit") %>
      <% surplus = (okr_results.dig("surplus") || 0).to_f.round(2) %>
      <% hint = (okr_results.dig("hint") || "No hint given") %>
      <div class="dashboard-modules table index_table index">
        <div class="dashboard-module">
          <div class="module-body factoid-parent">
            <p style="margin-bottom: 6px;">To derive <strong>Cost per Sellable Hour</strong>, we divide the total cost of doing business for the studio by the sellable pool.</p>
            <p>
              <code><%= number_to_currency(studio_cogs) %> / <%= studio_sellable_hours %> = </code>
              <span class="pill <%= health %>" style="margin-right: 6px;">
                <% if surplus != 0 %>
                  <span class="split">
                    <% if unit == "usd" %>
                      <strong style="font-size: 15px"><%= number_to_currency(value.round(2)) %></strong> (target: <%= number_to_currency(target) %>)
                    <% elsif unit == "percentage" %>
                      <strong style="font-size: 15px"><%= value.round(2) %>%</strong> (target: <%= target.round(2) %>%)
                    <% elsif unit == "display" %>
                      <strong style="font-size: 15px"><%= okr_results.dig("value") %></strong>
                    <% else %>
                      <strong style="font-size: 15px"><%= value.round(2) %></strong> (target: <%= target.round(2) %>)
                    <% end %>
                  </span>
                <% end %>
              </span>
            </p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="dashboard-modules table index_table index">
        <div class="dashboard-module">
          <div class="module-body factoid-parent">
            <p>This period predates us requiring all team members accounting for all of their hours, and thus has no reliable utilization data to generate this datapoint.</p>
          </div>
        </div>
      </div>
    <% end %>

  <% end %>
<% end %>

<% if current_okr == "average_hourly_rate" %>
  <a href="https://forecastapp.com/864444/export" target="_blank">
    <p class="nag" style="margin-bottom: 20px;">
      🤔 Something funny? You can audit this data with a Forecast export ↗
    </p>
  </a>

  <% snapshot[current_gradation].reverse.each do |period| %>
    <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
      <div id="titlebar_left">
        <h2 id="page_title">
          <%= period["label"] %>
        </h2>
      </div>
    </div>

    <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
      <thead>
        <tr>
          <th class="col">Person</th>
          <th class="col">Rate</th>
          <th class="col text-right">Hours Sold</th>
        </tr>
      </thead>

      <tbody>
        <% period["utilization"].each do |tuple| %>
          <% email, d = tuple %>

          <% d["billable"].each_with_index do |tuple, index| %>
            <% rate, count = tuple %>
            <tr class="<%= index == 0 ? 'border-top' : '' %>">
              <td class="col">
                <%= index == 0 ? email : "" %>
              </td>
              <td class="col">
                <%= number_to_currency rate %>
              </td>
              <td class="col text-right">
                <%= count %>
              </td>
            </tr>
          <% end %>


        <% end %>


        <tr class="even">
          <td class="col">
            <strong>Weighted Average & Total Hours Billed</strong>
          </td>
          <td class="col">
            <%= number_to_currency period["cash"]["datapoints"]["average_hourly_rate"]["value"] %>
          </td>
          <td class="col text-right">
            <%= period["cash"]["datapoints"]["billable_hours"]["value"] %>
          </td>
        </tr>

      </tbody>
    </table>
  <% end %>
<% end %>

<% if current_okr == "sellable_hours_sold" %>
  <a href="https://www.notion.so/garden3d/How-to-optimize-our-OKRs-82d1d26d9c0947fd962fd5f8b22be5c6?pvs=4#2246c78ab83a4703a58d569704c9c79d" target="_blank">
    <p class="nag" style="margin-bottom: 20px;">
      🤔 Utilization (or "Sellable Hours Sold") is complex. Learn how it works here ↗
    </p>
  </a>

  <% snapshot[current_gradation].reverse.each do |period| %>
    <div class="title_bar" id="title_bar" style="padding: 80px 0px 20px 0px;">
      <div id="titlebar_left">
        <h2 id="page_title">
          <%= period["label"] %>
        </h2>
      </div>
    </div>

    <table border="0" cellspacing="0" cellpadding="0" class="index_table index">
      <thead>
        <tr>
          <th class="col">Person</th>
          <th class="col">Expected: Sellable</th>
          <th class="col">Expected: Non Sellable (Time Off & Internal)</th>
          <th class="col">Actual: Time Off</th>
          <th class="col">Actual: Internal</th>
          <th class="col">Actual: Sold</th>
          <th class="col">Sellable Hours Sold %</th>
          <th class="col text-right">Health</th>
        </tr>
      </thead>
      <tbody>
        <% period["utilization"].select{|k, v| v["sellable"].to_f.round(2) > 0 || v["non_sellable"].to_f.round(2) > 0}.each_with_index do |tuple, index| %>
          <% email, d = tuple %>
          <% total_billable = (d["billable"].values.map(&:to_f).reduce(&:+) || 0).round(2) %>

          <tr class="<%= index.even? ? "even" : "odd" %>">
            <td class="col">
              <%= email %>
            </td>
            <td class="col">
              <%= d["sellable"].to_f.round(2) %>
            </td>
            <td class="col">
              <%= d["non_sellable"].to_f.round(2) %>
            </td>
            <td class="col">
              <%= d["time_off"].to_f.round(2) %>
            </td>
            <td class="col">
              <%= d["non_billable"].to_f.round(2) %>
            </td>
            <td class="col">
              <%= total_billable %>
            </td>
            <td class="col">
              <%= d["sellable"].to_f == 0 ? 0 : ((total_billable / d["sellable"].to_f) * 100).round(2) %>%
            </td>
            <td class="col text-right">
              <% surplus = (total_billable - d["sellable"].to_f).round(2) %>
              <% extreme = surplus.abs > 20 %>
              <% health = surplus >= 0 ? (extreme ? :exceptional : :healthy) : (extreme ? :failing : :at_risk) %>
              <span class="pill <%= health %>" style="margin-right: 6px;">
                <%= health.to_s.humanize %>
                <span class="split natural">
                  <% if surplus >= 0 %>+<% else %>-<% end %>
                  <%= surplus.abs %>
                </span>
              </span>
            </td>
          </tr>
        <% end %>

        <% total_sellable = period["utilization"].values.reduce(0){|acc, d| acc += d["sellable"].to_f} %>
        <% total_non_sellable = period["utilization"].values.reduce(0){|acc, d| acc += d["non_sellable"].to_f} %>
        <% total_time_off = period["utilization"].values.reduce(0){|acc, d| acc += d["time_off"].to_f} %>
        <% total_non_billable = period["utilization"].values.reduce(0){|acc, d| acc += d["non_billable"].to_f} %>
        <% total_billable = period["utilization"].values.reduce(0){|acc, d| acc += (d["billable"].values.map(&:to_f).reduce(&:+) || 0)} %>

        <tr class="odd">
          <td class="col">
            <strong>Total</strong>
          </td>
          <td class="col">
            <%= total_sellable.round(2) %>
          </td>
          <td class="col">
            <%= total_non_sellable.round(2) %>
          </td>
          <td class="col">
            <%= total_time_off.round(2) %>
          </td>
          <td class="col">
            <%= total_non_billable.round(2) %>
          </td>
          <td class="col">
            <%= total_billable.round(2) %>
          </td>
          <td class="col">
            <%= total_sellable == 0 ? 0 : ((total_billable / total_sellable) * 100).round(2) %>%
          </td>
          <td class="col text-right">
            <% okr_results = period["cash"]["okrs"]["Sellable Hours Sold"] %>

            <% value = okr_results.dig("value").to_f  %>
            <% target = (okr_results.dig("target").try(:to_f) || 0).round(2) %>
            <% health = okr_results.dig("health")  %>
            <% unit = okr_results.dig("unit") %>
            <% surplus = (okr_results.dig("surplus") || 0).to_f.round(2) %>
            <% hint = (okr_results.dig("hint") || "No hint given") %>

            <span class="pill <%= health %>" style="margin-right: 6px;">
              <% if surplus != 0 %>
                <span class="split">
                  <% if unit == "usd" %>
                    <strong style="font-size: 15px"><%= number_to_currency(value.round(2)) %></strong> (target: <%= number_to_currency(target) %>)
                  <% elsif unit == "percentage" %>
                    <strong style="font-size: 15px"><%= value.round(2) %>%</strong> (target: <%= target.round(2) %>%)
                  <% else %>
                    <strong style="font-size: 15px"><%= value.round(2) %></strong> (target: <%= target.round(2) %>)
                  <% end %>
                </span>
              <% end %>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>